[2011-07-15 21:03] codenamev opened #8 "Coupon field not sent with paypal button"
You currently cannot enter a coupon code in the coupon field.

[2011-08-10 22:52] ghost opened #10 "admin controllers"
hi,
can you confirm there is currently no admin interface to do captures and void of order payments? I can see the routes for it:
capture_admin_order_paypal_payment GET      /admin/orders/:order_id/paypal_payments/:id/capture(.:format) {:action=>"capture", :controller=>"admin/paypal_payments"}
but no controller in the extension.
Ta,
Enrico

[2011-08-29 08:43] jorgtron opened #11 "TypeError (nil can't be coerced into BigDecimal) on return to site after order"
After a user has paid for their order at Paypal, the user is returned to this URL:

https://mysite.heroku.com/orders/R406752060/checkout/paypal_confirm?payment_method_id=4&token=EC-4752449676867473N&PayerID=KTQXUPPTZBWMP

and gets this error:

"TypeError (nil can't be coerced into BigDecimal):"

Anyone know what could be causing this? The return URL works fine on my localhost (goes to the order-co

[2011-09-01 07:01] jorgtron commented on #11
An update to this:

Just to ensure I wasn't causing this with something I had done in my extensions, I pushed a clean spree + spree-paypal-express install to Heroku. I get the same error.

:/

Har anyone got spree-paypal-express working on a spree/heroku install?

Cheers

[2011-09-05 13:00] jorgtron commented on #11
Finally got this working! The reason seemed to be my shipping rate was set to 0.0%. Changing it to Flat-rate 0.0 did the trick.

[2011-09-05 13:00] #11 closed, assigned to nobody

[2011-10-12 21:55] rezzz-dev opened #12 "Cannot run spree...."
It seems as though when I'm using this gem, spree will not load.  Not sure why, but here's the stack trace of what's going on.

DEPRECATION WARNING: railtie_name is deprecated and has no effect. (called from class:Engine at /Users/jason/.rvm/gems/ruby-1.9.2-p180@cvstore/bundler/gems/spree_paypal_express-bea1aa48e008/lib/spree_paypal_express.rb:5)
/Users/jason/.rvm/gems/ruby-1.9.2-p180@cvstore/gems

[2011-10-12 22:49] runlevel5 commented on #12
Again, I think you are using wrong version of spree_ppx, please make sure you run the version that is compatible, check the spree_ppx's Versionfile

Sent from my iPhone

On 13/10/2011, at 8:55 AM, Jason Resnickreply@reply.github.com wrote:

[2011-10-12 22:52] rezzz-dev commented on #12
Ok, so I looked in the Versionfile on github and see for 0.50 there's a specific ref.  How do I put that in my Gemfile?

[2011-10-12 22:57] rezzz-dev commented on #12
When I run bundle install, it says

Using spree_paypal_express (1.0.1) from git://github.com/spree/spree_paypal_express.git (at master)

and I'm running spree 0.50.0

I do appreciate any help as I'm totally dead in the water right now, thanks so much for your help!

[2011-10-12 23:06] rezzz-dev commented on #12
Sorry for the newb question - I should've google'd first -- I got it and ran the bundle install and rails s started right up -- thanks so much!

[2011-10-12 23:06] #12 closed, assigned to nobody

[2011-10-21 12:04] fschwahn opened #13 "undefined method `fail!' if payment not successful"
Hi,
I'm using the following version:

[code]

If the PayPal payment fails (not cancelled) I receive the following error:

[code]

Best regards,
Fabian

[2011-10-27 02:55] bazlo opened #14 "Payment confirm fails if state abbr has different casing"
Payment confirm will fail if e.g.

spree state abbr = 'QLD'

paypal state = 'Qld'

works fine if paypal state is full name e.g. 'Queensland' or if paypal has same casing as spree 'QLD'

I think the search needs to be case insensitive somehow.

[https://github.com/spree/spree_paypal_express/blob/master/app/controllers/checkout_controller_decorator.rb#L82](https://github.com/spree/spree_paypal_expre

[2011-11-09 04:19] wejrowski opened #15 "Is this ready for production use?"
Is this just a test gem or is it ready to use? Your readme says capturing is not finished.

[2011-11-15 10:45] matteofuzz opened #16 "Error confirming payment method, undefined method `process_coupon_code'"
Spree 0.70.1, error after confirm payment, with any payment method, also with check.

NoMethodError in CheckoutController#update

undefined method `process_coupon_code' for #Order:0x0000012f88d788

[2011-11-15 11:56] mdhany commented on #12
Hello @Rezzz-dev, where you find how to run and start right up?

[2011-11-17 14:34] leosmeira opened #18 "paypal_site_opts - LandingPage"
How can I set the option  "LandingPage" in spree_paypal_express for spree 0.60?

I need the user has the option to pay only with credit card without a paypal account.

thanks for the help !

[2011-11-18 05:03] cleverlemming opened #19 "Version in Documentation"
documentation says: "The master branch of this repo is currently for Spree 0.40.3 and later..."

gemspec says: "add_dependency('spree_core', '>=0.70.1')"

[2011-11-18 14:48] schof commented on #19
The `README` is out of date (and not the best way to track versioning.)  Are you using it in a specific version of Spree?  If you are, we can update the `Versionfile` with the SHA that works for whatever version you're on.

See the [Extension Guides](http://guides.spreecommerce.com/creating_extensions.html#versionfile) for more info on how we can do this.  TIA for your help.

[2011-11-19 12:36] zecke opened #20 "checkout_controller_decorator will ignore additional attributes"
In our shop we have have an additional field to accept the Terms/Conditions and with this extension the additional attribute will not be saved. We have worked around this by saving one more hard-coded attribute.

https://gitorious.org/sysmocom-spreecommerce/spree_paypal_express/commit/8dc2c34ae9790e1968af88e4551a6712bad4436a

[2011-11-19 12:40] zecke opened #21 "PayPal overrides/loses address information"
When a payment returns from PayPal the shipping address will be replaced and this creates several problems:

1.) Any additional address information is lost. In our case it is the EUVAT id of the place we are shipping to...
2.) For PayPal to work for US customers we need them to enter the 'State' and in spree config we require the state, when an order from some European countries return the State i

[2011-11-21 22:09] leosmeira opened #22 "Pay only with credit card without a paypal account."
How can I set the option "LandingPage" in spree_paypal_express for spree 0.60?

I need the user has the option to pay only with credit card without a paypal account.

thanks for the help !

[2011-11-23 11:21] zecke opened #25 "Credit a customer does not work"
1.) User completes purchase
2.) E.g. shipping cost gets reduced/locked

3.) Capture to capture payment... will capture the full amount...
4.) Pressing 'Credit' will fail with PayPal saying that credit must be positive...

What I would like:
Adjust @order.payment.amount to the order.total_amount before capture (this will allow to charge up to 115%), fix credit...

[2011-11-27 20:33] davingee opened #26 "Superclass must be a class"
Hello,
Just installed spree into rails 3.1.1 app got it running then added spree_paypal express to the gemfile bundle installed then   rake spree_paypal_express:install. but it failed it copied the db migration over and that was it then tried to rake db:migrate and got -----

/Users/scott/.rvm/gems/ruby-1.8.7-p352/bundler/gems/spree_paypal_express-b597130b5ef3/app/models/spree/billing_integration/

[2011-11-28 20:55] zecke opened #27 "Payment process is not a true 'transaction'"
I can only describe the symptoms here:

Setup:
1) Paypal extension is configured to not auto capture
2) Review is not ticked
3) Currency is in EUR
4) Live environment

Purchase
1.) Customer gets to paypal
2.) Returns to https://shop/orders/R666666666/checkout/paypal_confirm?payment_method_id=6&token=TOK&PayerID=FOO
     Gets a "504 Gateway Timeout"
3.) Customer gets a Order Confirmation Email
4.)

[2011-12-12 22:38] zecke opened #28 "Payment captured/authorized but order does not move into complete state"
0.) Prepare a product with one item on-hand, disable backorders
1.) Prepare two orders and move them to the payment page
2.) complete one order...

3.) complete the other order
  3.1) The payment will be captured/authorized
  3.2)
      #need to force checkout to complete state
      until @order.state == "complete"
        if @order.next!
          @order.update!

fails because backorders are dis

[2011-12-26 07:35] dhawalshah opened #30 "rake error"
Getting a rake error when trying to do "rake spree_paypal_express:install" in the terminal. The trace shows that the FileUtilz.mirror_files method is not found. Is there a specific ref to use for the extension when using Spree 0.70.3 or is just pulling from master ok? Please help me resolve this issue.

Cheers!

[2011-12-28 07:18] railskipl commented on #26
Any luck for above issue  ?

[2011-12-29 14:03] davingee commented on #26
There were a lot of issues with spree 7 (with what i was doing) so I went with spree 6 and it was perfect; well it worked a bit friendlier. However I came to the conclusion that it was loading the paypal-spree gem first and the class it was looking for "billing_integration" was not yet initialized. the gem was getting loaded into bundler/gems instead of the gems directory. I tried packing them int

[2012-01-02 20:20] mcgoooo commented on #30
reverted the change in the bottom of the this commit, seems to of fixed it, maybe . it's in lib/tasks/spree_paypal_express.rake

https://github.com/spree/spree_paypal_express/commit/3a1fcf17712ce9615816c93f048da553407bec1c#lib/tasks/spree_paypal_express.rake

[2012-01-02 21:30] mcgoooo commented on #30
i reverted to the last commit on https://github.com/spree/spree_paypal_express/commits/master  from october 8 and at least the rake tasks work, now need to look whether the full thing works

[2012-01-03 21:51] mcgoooo commented on #30
no success, experiencing the same issues as dhawalshah.

[2012-01-03 22:12] #30 closed, assigned to nobody

[2012-02-02 15:53] chrise86 opened #31 "paypal_express_local_confirm preference not defined"
Getting the following when checking out:

`NoMethodError in Spree::CheckoutController#paypal_payment`

`paypal_express_local_confirm preference not defined`

Using Rails 3.1.3 and Spree 1.0.0.rc3 --edge

[2012-02-02 16:20] chrise86 commented on #31
Added an initializer containing:

`rubySpree::AppConfiguration.class_eval do
  preference :paypal_express_local_confirm, :boolean, :default => true
end`

[2012-02-03 10:15] lucapette commented on #31
@chrise86 I've used the same fix but are we sure it is the right way of doing it. Probably the extension should do that. Don't you think?

[2012-02-03 15:28] chrise86 commented on #31
@lucapette yes definitely, if it is something that is essential to the extension then it should be offered as an option in the configuration or backend preferences as standard...

[2012-02-03 20:41] lucapette commented on #31
@chrise86 If you're agree with me you could be re-open the issue. It's a good way of keeping on eye on the problem.

[2012-02-14 18:51] cnight opened #32 "undefined class ActiveMerchant::Billing::PaypalExpressResponse"
Error when trying to access order/payments in admin:

undefined class/module ActiveMerchant::Billing::PaypalExpressResponse

To recreate, simply restart the spree site and try to view payment on a paypal express payment in the admin _without_ first doing an order checkout using paypal express.  The error disappears once you do a checkout in the store using paypal express.

This looks like a requir

[2012-02-14 23:24] radar commented on #32
Is this class supposed to be defined in ActiveMerchant? Is it one of ours?

[2012-02-14 23:28] radar commented on #32
Looks like it's from ActiveMerchant. Is that the exact error you're getting? Perhaps we're not requiring whatever defines this constant.

[2012-02-14 23:35] cnight commented on #32
Yes it is certainly some type of loading issue.  Here is the error in spree_core-1.0.0/app/views/spree/admin/payments/_list.html.erb:

ActionView::Template::Error (undefined class/module ActiveMerchant::Billing::PaypalExpressResponse):
    13:       <td><%= link_to payment_method_name(payment), admin_order_payment_path(@order, payment) %></td>
    14:       <td><%= t(payment.state, :scope => :paym

[2012-02-14 23:40] radar commented on #32
I would recommend that you create a new file in `config/initializers` in the gem (as it is an engine, so this will work) called `paypal_express.rb` and put this line in it:

[code]

This will require the necessary components and should fix the error. Once you've validated that it's fixed it, please submit it as a pull request and I'll look at merging it. Keep in mind that it's getting late here, s

[2012-02-14 23:48] cnight commented on #32
Will do.

Just about time for valentines beers here too ;)

[2012-02-15 04:33] cnight opened #34 "uninitialized constant PaypalAccount"
With spree 1.0.0, checking out with paypal express works but trying to access the order payments in the admin leads to an error:  uninitialized constant PaypalAccount on line 16 of spree_core-1.0.0/app/views/spree/admin/payments/_list.html.erb

13:       <td><%= link_to payment_method_name(payment), admin_order_payment_path(@order, payment) %></td>
14:       <td><%= t(payment.state, :scope => :pay

[2012-02-15 04:40] LBRapid commented on #34
This should be okay now. Kind of funny I saw this message instantly after merging in a pull request that fixes the reported issue.

[2012-02-15 04:40] #34 closed, assigned to nobody

[2012-02-15 04:43] cnight commented on #34
OK, thanks!

On Tue, Feb 14, 2012 at 9:40 PM, John Dyer
reply@reply.github.com
wrote:

[2012-02-15 05:02] cnight commented on #34
I get an error on the return URL's on this one, it is trying to go to
/spree/orders/ instead of just /orders/

On Tue, Feb 14, 2012 at 9:43 PM, Chris N ducatista@gmail.com wrote:

[2012-02-15 05:10] LBRapid commented on #34
Pushed a fix. Let me know how it works out. I'll have time to look at this tomorrow if there are remaining problems.

[2012-02-15 05:24] cnight commented on #34
Checkout works, but the callback URL still says /spree/ (line 272),
this seems like an error too.

On Tue, Feb 14, 2012 at 10:10 PM, John Dyer
reply@reply.github.com
wrote:

[2012-02-15 05:30] #32 closed, assigned to nobody

[2012-02-15 16:13] cnight commented on #34
Hi John, I have submitted a pull request to fix this and also fix
another namespace error on Spree::Core::GatewayError.

On Tue, Feb 14, 2012 at 10:24 PM, Chris N ducatista@gmail.com wrote:

[2012-02-19 15:38] mcgoooo opened #38 "error on admin pages"
Hi there,

i seem to be having a problem with the spree paypal express plugin.

the version of spree i'm using is 0.70.1, and the spree paypal express is spree_paypal_express (1.0.1 bea1aa4)

when i go to a payment page, e.g.
*/admin/orders/R186775626/payments

it error's out with

ActionView::Template::Error (undefined method `params' for #YAML::Object:0x1376e9d70):
    13:       <td><%= link_to

[2012-02-19 15:55] steveroot commented on #38
I think 1.0 versions won't work with 0.70 because of the name space changing.  There's a commit on Jan 3rd that says:

[code]

So perhaps in your Gemfile:

gem 'spree_paypal_express',
  :git => 'git@github.com:spree/spree_paypal_express.git,
  :ref => 'bea1aa48e0089083546bec4b19565a40e9a50a20'

and then run:
bundle update spree_paypal_express   to just update that gem, or bundle update to refresh

[2012-02-21 15:07] #31 closed, assigned to nobody

[2012-02-21 15:08] LBRapid commented on #31
This preference can now be set using Spree::PaypalExpress::Config[:paypal_express_local_confirm]. Defaults to true unless  set in an initializer or elsewhere.

[2012-02-21 15:09] lucapette commented on #31
@LBRapid thank you very much!

[2012-02-21 15:14] LBRapid commented on #38
@mcgoooo Did specifying the right ref in your Gemfile resolve the issue for you?

[2012-02-21 15:41] #38 closed, assigned to nobody

[2012-02-21 15:45] LBRapid commented on #8
If this is still an issue with newest version of the extension, please reopen this issue. Just doing some cleanup since a lot of these issues haven't been looked at in 8months+.

[2012-02-21 15:45] #8 closed, assigned to nobody

[2012-02-21 15:46] #22 closed, assigned to nobody

[2012-02-21 22:49] mcgoooo commented on #38
i just checked it and that is the commit id i'm using, sorry for the
confusion. unfortunately this does not solve it, sorry for the late
response.

On Sun, Feb 19, 2012 at 3:55 PM, Steve Root <
reply@reply.github.com

[2012-02-29 12:16] MachineTobe opened #39 "Gateway Error: Security header is not valid"
Hello Guys,

I've installed the gem, configured everything (step by step like described in the readme-file) but when I want to pay via paypal (clicking on the paypal express button in the cart) i got the message 'Gateway Error: Security header is not valid'.
I used the credentials from my Selling-paypal Sandbox account (tried them hundreds of times). What's the problem in this case? Would be great

[2012-03-03 18:53] matteofuzz commented on #39
I confirm this error on 1-0-stable.
Instead on 1.0.0.rc4 it's run well.
I'm investigating...

[2012-03-09 05:45] patrickmcelwee commented on #16
+1 This is still an issue, running Spree 0.70.4

I applied this patch, and it seems to have fixed the issue for me.

[2012-03-10 00:10] ipd commented on #39
I'm having the same issue.

[2012-03-10 08:19] matteofuzz commented on #39
The problems rise from a preferences issue on 1-0-stable with boolean value on MYSQL db. I solved it upgrading to master (1.1.0.beta) (and using my fork of spree_paypal_express for the coupon issue).
On the stable it can't save and get the test_mode = true value.

With this gem it works:
GIT
  remote: git://github.com/spree/spree.git
  revision: ee874128f14642847bbb4f9ae30bd9341eb4a814
  specs:

[2012-03-17 14:57] amencarini opened #40 "Spree 1.0.x: adjustments not recognized"
All classes on Spree have been namespaced. This break the correct tax and shipping reporting to PayPal.

[2012-04-09 21:36] ipd commented on #28
This is happening on our site, though it only started with the upgrade from Spree 0.7x to 1.0.3.

Paypal orders are making it through the pipeline, but some times are remaining in the 'delivery' step.

@zecke What is the connection between the code snippet you provided and backorders?

[2012-04-09 21:50] zecke commented on #28
In case backorders are disabled the call to next!/update! will lead to an exception that is not handled by the paypal extension. The result is that the state at paypal and the local state do not match.

My local hack:
  Allow backorders in the backend but not in the shop ui

Clean solution:
  Re-order code, consider using a transaction. handle the exception

[2012-04-11 13:54] cwise commented on #40
+1 for this. Why has this not been pulled? It's a pretty egregious bug.

[2012-04-11 14:02] cwise opened #43 "Ineligible promotions being passed as credits"
When promotions are ineligible, they shouldn't be passed as credits to PayPal, correct? Or should Spree be dumping the promo code adjustments before this?

[code]

[2012-04-11 14:02] cwise commented on #43
I would think that this should instead be:

  credits = order.eligible.adjustments.map do |credit|
    if credit.amount < 0.00
      { :name        => credit.label,
        :description => credit.label,
        :sku         => credit.id,
        :quantity    => 1,
        :amount      => (credit.amount*100).to_i }
    end

[2012-04-11 15:19] cwise commented on #43
I made a pull request for this instead of just commenting on it:

https://github.com/spree/spree_paypal_express/pull/44

[2012-04-11 15:19] #43 closed, assigned to nobody

[2012-04-16 14:24] radar commented on #26
I believe this problem is now fixed. I covered the fix for it in a [screencast](http://ryanbigg.com/2011/11/screencast-wrong-argument-type/).

[2012-04-16 14:24] #26 closed, assigned to nobody

[2012-04-16 14:25] radar commented on #13
This issue has been fixed now.

[2012-04-16 14:25] #13 closed, assigned to nobody

[2012-04-16 14:31] #40 closed, assigned to nobody

[2012-04-17 22:39] GeekOnCoffee commented on #15
@wejrowski This gem is ready to use... there may be features on the to-do list but it's definitely being used in production in various places.

[2012-04-17 22:39] #15 closed, assigned to nobody

[2012-04-20 14:05] wakeless opened #48 "Paypal Express is broken on spree 1-1-stable"
It works on ref: f0dd6d99268f6f63dff4b8f0ddaa2d4d13258d2a

This is the backtrace https://gist.github.com/7d904de793e3b7a364d4

[2012-04-25 09:55] steveroot opened #49 "Missing Template"
Having followed the install instructions on github, I get a 'Missing Template' error.
I can see the files in the github repo and rails appears to be searching all the correct places. I can also see the file locally.

---below this, error page, locating files in terminal, then Gemfile.lock spree sections--
#### Error

[code]
#### Finding the files in terminal:

1.9.3@rkbbspree steve@Steve-Root-MBP:

[2012-04-25 10:41] steveroot commented on #49
More detail from the error:

[code]

and a possibly relevant post on StackOverflow: http://stackoverflow.com/questions/9936675/missing-partial-when-using-devise-2-0-w-rails-3-1-3

Extract from question: ...My app was working fine and rendering the cart partial in every view. But when I installed devise 2.0, the partial could no longer be found for devise views....

Accepted Answer: You should be a

[2012-04-25 11:56] radar commented on #49
It's looking for paypalexpressuk but only finding paypalexpress. Missing the "uk" at the end.

On Wednesday, 25 April 2012 at 4:55 AM, Steve Root wrote:

[2012-04-25 12:00] steveroot commented on #49
Thanks Radar, just noticed that myself. Closed it with a comment that seems to have vanished - I couldn't find the 'uk' bit within the code so I think that I must have (once again) broken something without realising.
Thanks for the help!

[2012-04-30 07:13] r3ap3r2004 commented on #48
I get the error:

[code]

Appears to be part of the same issue.

[2012-04-30 15:28] steveroot commented on #49
OK, so I've had time to return to this.
In the spree admin console, there are two providers generated by the extension:
Spree::BillingIntegration::PaypalExpress
Spree::BillingIntegration::PaypalExpressUK
I selected the UK option, which generates the missing template error.  Selecting the first option doesn't give the error.  I'm not sure what the UK option does yet...

[2012-04-30 15:38] radar commented on #49
It's likely that the two are very similar. Could you try forking this extension, copying over the typical paypal_express extension into the location of the missing template and seeing if that works?

[2012-04-30 16:02] digitalWestie opened #51 "Can spree_paypal_express deal with parallel payments?"
Not so much of an issue but just the question. Is it possible to pay more than one recipient at once?

[2012-04-30 16:14] radar commented on #51
I don't think that this would be possible. Does PayPal itself even support such a feature?

[2012-04-30 16:33] jumph4x commented on #51
@radar: No, not to my knowledge.

@digitalWestie: Are you looking for revenue sharing?

[2012-04-30 18:26] steveroot opened #52 "URI::InvalidComponentError in Spree::CheckoutController#paypal_payment"
I have in my /config/initializers/mypreferences.rb file:

Spree::Config.set(:logo => 'https://s3.amazonaws.com/rkbb-prod/site/roots_logo.png')

When I follow the Paypal express button in the checkout I get the following error

[code]

However, if I have a local file for the logo, eg:
Spree::Config.set(:logo => 'logo')
The error doesn't occur.

(note: I had to restart spree a few times, I'm not sur

[2012-04-30 18:30] steveroot commented on #49
Sure. I'm going to try and get the non-uk version working first, then I'll come back and investigate further (probably won't be in the next few days)

[2012-04-30 18:44] digitalWestie commented on #51
@jumph4x, yes that's right. I understand it's a bit of an edge case.

Yes, parallel payment is available under paypal adaptive and paypal express. I recently discovered a gem that covers this: https://gist.github.com/2490428 - was just wondering if there was some similar functionality here.

[2012-04-30 18:44] #51 closed, assigned to nobody

[2012-05-01 13:17] steveroot commented on #49
I haven't got the non-uk version working yet (for an unrelated problem), so as a break I thought I'd manage to get the UK version at least to the same point of failure.

So, I copied the missing template and that brought a new error,
which appeared to related to variables in the model, so i copied those across but I'm now left with
undefined method `preferred_currency' for #Spree::BillingIntegrati

[2012-05-01 19:21] GeekOnCoffee commented on #48
Sent to the email list To Brian (BDQ) or any other qualified person,

Any chance that you can update the PayPal Express gem to take into
account the latest changes to the payment processing code in the
master branch of Spree?

I'm trying to launch my site this week, but I've hit a show stopper
with the PayPal Express gem and I'm not sure that I fully understand
the proper timing of the calls to au

[2012-05-01 19:28] jumph4x commented on #48
Man this whole extension needs a serious rewrite. I am supposed to be the one to rewrite it, but work just swamped me. What to do, what to do...

[2012-05-02 00:00] r3ap3r2004 commented on #48
Denis,
  Do you have some time to jot down some pseudo code for how the process should work.  I'm happy to take a stab at it as long as I understand the right steps.  Unfortunately my understanding of the PayPal API is a little lacking, which is why I'm hesitant to make any changes without some direction.

Alternatively, if you have time to make a branch and move the pieces around into their prope

[2012-05-02 00:11] GeekOnCoffee commented on #48
Chris,

https://merchant.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=merchant/express_checkout details the flow from the paypal side.

From the Spree side, essentially:
- You build your cart and click the paypal button
- that makes the call to Paypal with all the transaction information
- User does the paypal stuff
- Paypal does a callback that completes the transaction.

Chris, Do you u

[2012-05-02 00:32] r3ap3r2004 commented on #48
Andrew,
  I probably should have been a little more specific.  I understand
the basic PayPal process, and the Spree general process.  I actually
was the one who made the changes to this gem to initially get it
working with Rails 3.0.

What I'm not confident about is the latest changes to the Spree core
that moved the payment info into the payment/processing.rb file and
the changes regarding the ti

[2012-05-02 01:35] radar commented on #48
As far as I am aware, the ordering has not changed. That was not the intention behind the changes. The intention was simply to move the code out of the CreditCard model where it did not belong and into the `Payment` model. The `Payment` model was too crowded, and so it is now in the `Payment::Processing` module.

I would love to get to the bottom of why this is now an issue. The messiness of spree

[2012-05-02 01:39] radar commented on #48
@r3ap3r2004 Given that you're pretty close to my timezone, perhaps we could work this thing out together? Let me know.

[2012-05-02 01:40] jumph4x commented on #48
Me toooooo
On May 1, 2012 9:39 PM, "Ryan Bigg" <
reply@reply.github.com>
wrote:

[2012-05-02 01:49] r3ap3r2004 commented on #48
Ryan,
  It must just be a misunderstanding on my part then.  I guess it wasn't as easy for someone in the know to fix as I originally thought.

  I'll spend some time today going through the latest Spree code to make sure I'm understanding the exact flow, then I'll go back and look through this gem and see if I can make it work the way it should.  Any help you can give to at least start getting it

[2012-05-02 02:02] radar commented on #48
The fix isn't simple because the error itself is cryptic. There should be no authorize method on the `Spree::BillingIntegration::PaypalExpress` object because there's never been one on that class, nor on the `Spree::BillingIntegration` class it inherits from, or the `Spree::PaymentMethod` class that that inherits from. For points of reference, check out the [1-0-stable](https://github.com/spree/sp

[2012-05-02 02:13] r3ap3r2004 commented on #48
The PayPal Express paypal_finish method calls this:

[code]

That causes the @order model to execute this:

[code]

Which calls this:

[code]

Which calls this:

[code]

Which in turn calls the gateway_action:

[code]

Which looks like this:

[code]

That is causing the 'authorize' method to be sent to the gateway, which it promptly fails to find.

It isn't a problem necessarily to create an 'auth

[2012-05-02 02:15] radar commented on #48
How is that a change from [how it was done previously](https://github.com/spree/spree/blob/1-0-stable/core/app/models/spree/creditcard.rb#L76-81) though?

[2012-05-02 02:25] r3ap3r2004 commented on #48
Because the original payment.rb process! method looked like this

[code]

But now it looks like this:

[code]

Originally it was calling the source's 'process!' method, but now it is calling the 'authorize' or 'purchase!' method.

The problem seems to be that the Payment class has changed the internals of how the process! method works.

But again, I may be misunderstanding the Spree flow.

[2012-05-02 02:51] radar commented on #48
I was able to get it to go all the way through to the paypal_finish step tonight, but when writing up steps to reproduce it from a fresh app I've not been able to replicate it again. Something's up.

[2012-05-02 02:59] r3ap3r2004 commented on #48
I can get it to go into the paypal_finish step just fine, but I can't
get it _out_ of that step. :-)  (since that's the step that attempts
to move things to the 'completed' stage.  I needed to make a few other
changes to the code to deal with the mass assignment issues, but that
was all I've changed so far.

[2012-05-02 03:03] GeekOnCoffee commented on #48
i just pushed a commit that fixed the mass assignment issues.

[2012-05-02 03:09] r3ap3r2004 commented on #48
Andrew,
  I didn't realize you had committed that.   I had already made those
changes to my local copy before you made that commit (although I went
the :with_protection => false method).  I'll need to update my code.

Thanks,
Chris

[2012-05-02 03:13] GeekOnCoffee commented on #48
Chris,

i just committed it a few minutes ago. Sorry if it causes any issues.

[2012-05-02 15:26] #48 closed, assigned to nobody

[2012-05-02 15:29] radar commented on #48
omg you guys.

Look at @5ab0b9d6bea87b741627a914b4d7b5920ae539f0.

The cause of this problem was that the state callback on the order was attempting to process the paypal payment _after_ it had already done it.

To stop this, we set the order state to complete explicitly using an `update_attribute` and then call `finalize!` after that so we can be sure that the email is sent out (h/t @GeekOnCoffee

[2012-05-02 15:50] #49 closed, assigned to nobody

[2012-05-02 15:56] radar commented on #49
I've fixed this now on the repository with @f7b2775. There were a couple of other things I ran into in my testing too that I've also fixed. Let me know if this now works for you too :)

[2012-05-02 15:57] radar commented on #39
This happens because you've entered the login, password or signature incorrectly for your payment method. You've probably noticed this by now, but I thought I'd mention it anyway.

The preferences could've also had something to do with it (and that's more likely), but this problem should now be solved.

[2012-05-02 15:57] #39 closed, assigned to nobody

[2012-05-02 16:26] techize opened #53 "Missing partial _paypalexpressuk.html.erb"
Seems the _paypalexpressuk.html.erb file is missing from views/spree/checkout/payment

To fix this Ive just copied the existing _paypalexpress.html.erb over, but this does not contain a link to the UK version of the button. (but will do for now)

[2012-05-02 16:33] radar commented on #53
I just fixed this a shortwhile ago with @f7b2775b7e7e8e8274093eeac17cac63e821f4ba. What should the UK version of the button be?

[2012-05-02 16:33] #53 closed, assigned to nobody

[2012-05-03 00:12] r3ap3r2004 commented on #48
Ryan,
  THANK YOU!
 That worked great for me.  I think this extension still needs a lot of love, but that has solved my immediate issues.

Thanks again,
Chris

I

[2012-05-03 02:07] radar commented on #48
Yay! Another happy customer :) still delights me as much as the first one.

Indeed it needs love but it's at a "it'll do" stage. When someone like jumph4x can dedicate some effort to it, the gem will get the love it needs.

##

Ryan Bigg

On Wednesday, 2 May 2012 at 17:12, r3ap3r2004 wrote:

[2012-05-03 19:14] GeekOnCoffee commented on #19
This README has been updated since this ticket was created and no longer includes version information.

[2012-05-03 19:14] #19 closed, assigned to nobody

[2012-05-03 19:26] GeekOnCoffee commented on #14
Closing due to age. Feel free to comment if it's still an issue, and we'll reopen.

[2012-05-03 19:26] #14 closed, assigned to nobody

[2012-05-03 19:37] GeekOnCoffee commented on #10
Closing due to age. Feel free to comment if it's still an issue, and we'll reopen.

[2012-05-03 19:37] #10 closed, assigned to nobody

[2012-05-03 19:40] GeekOnCoffee commented on #18
Closing due to age. Feel free to comment if it's still an issue, and we'll reopen.

[2012-05-03 19:40] #18 closed, assigned to nobody

[2012-05-03 19:43] GeekOnCoffee commented on #20
Closing due to age. Feel free to comment if it's still an issue, and we'll reopen.

[2012-05-03 19:43] #20 closed, assigned to nobody

[2012-05-03 19:44] GeekOnCoffee commented on #21
Closing due to age. Feel free to comment if it's still an issue, and we'll reopen.

[2012-05-03 19:44] #21 closed, assigned to nobody

[2012-05-03 19:44] GeekOnCoffee commented on #25
Closing due to age. Feel free to comment if it's still an issue, and we'll reopen.

[2012-05-03 19:44] #25 closed, assigned to nobody

[2012-05-03 19:50] #16 closed, assigned to nobody

[2012-05-04 09:05] steveroot commented on #52
Working on this again, if I have:
Spree::Config.set(:logo => 'rails.png')
I don't get the error.
The logo is displayed on the paypal page with the URL http://myhost.myserver.co.uk/assets/rails.png
So there's a workaround for anyone else having the problem and I'm hoping to have time to discover and submit a patch over the next week.

[2012-05-04 10:39] steveroot opened #54 "Capturing payment through spree admin fails (works on paypal)"
Processing my first test orders, using both providors:
Spree::BillingIntegration::PaypalExpress
Spree::BillingIntegration::PaypalExpressUk

Order processes fine, customer returned to spree confirmation page.

Using the 'capture' button in spree admin, error displayed:

[code]

However, the payment can be accepted through the paypal interface and solving this is probably beyond my coding ability ri

[2012-05-07 16:19] mraaroncruz commented on #54
I am getting this too
the problem code

[code]

[code]

thanks

[2012-05-08 01:14] mattaddy opened #55 "Gateway Error: Payment has already been made for this InvoiceID."
I was able to successfully checkout using PayPal Express once in production. Now I'm trying a second time and I keep getting this error.

I don't have IPN setup yet.

What could be causing this?

[2012-05-08 01:23] #55 closed, assigned to nobody

[2012-05-08 02:28] mattaddy commented on #55
My error. The first checkout produced an error that prevented the current order from being reset.

[2012-05-09 11:23] steveroot commented on #52
Thanks to some help on the google group (thanks Ryan!), I have a working patch.
I just need to test a couple of variations, tidy up the code, then I'll submit a patch.
Probably Monday or Tuesday depending on my workload.

[2012-05-10 11:57] steveroot commented on #52
Patch submitted: https://github.com/spree/spree_paypal_express/issues/56

[2012-05-10 11:57] #52 closed, assigned to nobody

[2012-05-14 21:40] patrickmcelwee opened #58 "After returning from PayPal, Validation fails, "State can't be blank""
I have a customer in Germany who successfully goes to PayPal and completes the order there, but upon returning to our site, she gets redirected to her cart, which still has a "payment" state and looks full to her.

In production.log, on the return from PayPal, an Unprocessable Entity error is raised because an ActiveRecord validation (that state can't be blank) fails:

[code]

I assume that the st

[2012-05-16 01:58] scottwagner opened #59 "undefined method `process_coupon_code' not fixed on branch master"
Branch `1-0-stable contains a fix for this error message, but master does not have this fix. The relevant code is shown below

Branch Master order_controller_decorator.rb:

[code]

Branch 1-0-stable order_controller_decorator.rb:

[code]

[2012-05-16 02:25] imme5150 commented on #54
Same issue here, I think:

A ArgumentError occurred in payments#fire:

  wrong number of arguments (3 for 1)
  vendor/bundle/ruby/1.9.1/gems/activesupport-3.2.3/lib/active_support/core_ext/kernel/reporting.rb:68:in 'capture'
  vendor/bundle/ruby/1.9.1/gems/spree_core-1.1.0/app/models/spree/payment/processing.rb:40:in 'block in capture!'
  vendor/bundle/ruby/1.9.1/gems/spree_core-1.1.0/app/models/s

[2012-05-16 17:29] GeekOnCoffee commented on #59
@scottwagner Can you submit a pull request?

[2012-05-16 20:06] scottwagner commented on #59
ok, not sure if I did it correctly, but I just submitted a pull request.

[2012-05-16 20:07] GeekOnCoffee commented on #59
Got it, it's been merged. Thanks!

[2012-05-16 20:07] #59 closed, assigned to nobody

[2012-05-20 09:37] simonsparks opened #62 "paypal_express_uk.rb requires attr_accessible :preferred_allow_guest_checkout"
To avoid MassAssignment errors, the list of `attr_accessible` fields in /app/models/spree/billing_integration/paypal_express_uk.rb must also include `:preferred_allow_guest_checkout` as it does in the regular paypal_express.rb file.

[2012-05-23 12:46] bvpb commented on #54
Same issue for me too.

[2012-05-24 14:58] jescalan opened #63 "Promotions don't go through to paypal"
When you are on the payment page and enter a promotion, then check out with paypal, the promotion is not showing up in the paypal price. This is on Spree 1.0

[2012-05-25 02:35] radar commented on #63
Could you please submit a patch that would fix this issue?

[2012-05-29 16:00] jsqu99 opened #64 "partial path is incorrect (missing leading 'spree/' in shared view)"
Spree 1.1 (and i suspect 1.0) yields:

[code]

Upon returning from paypal.

Pull request coming in a few minutes

[2012-05-29 16:13] GeekOnCoffee commented on #64
Fix merged.

[2012-05-29 16:13] #64 closed, assigned to nobody

[2012-05-30 22:41] sbounmy commented on #54
Same issue here.

@pferdefleisch looks like the paypalaccount#capture is never called by payment_method.capture...

I'm investigating now..

[2012-06-07 20:19] msevestre commented on #54
Same issue. Any news on the PR?

[2012-06-07 20:40] msevestre commented on #54
using code from branch custom '7417b80'. I get following error when capturing a payment
`The transaction id is not valid`

[2012-06-07 21:15] sbounmy commented on #54
hi @msevestre, can you be more precise please?
- where do you capture the payment, from the admin or during checkout ?
- can you check 'review' in paypal payment method to see if it solve the issue ?

[2012-06-07 23:00] msevestre commented on #54
- Payment was captured in the admin section
- When review is unchecked,  the issue is a described above
- When review is checked however, something else goes wrong. Although the order was confirmed in the front end, there is **no payment** associated with the order! Hence payment capture is in that case impossible (maybe this is solved in PR #61)

I have a lot of customization happening in my site

[2012-06-08 01:29] msevestre commented on #54
I just created a new site using spree 1.1.1 and commit 7417b80.
- When review is unchecked, I get the same error
  `the transaction id is not valid`
- When review is checked, I get this time another error

[code]

Would be happy to help more but I am not sure how...

[2012-06-08 13:26] cwise opened #67 "Incompatability of credit method between Spree 1.1.1 and PaypalExpress"
Long story short, we've run into an issue attempting to process Paypal credits through the admin interface.

When attempting to fire the credit, we find that the payment method (Spree::BillingIntegration::PaypalExpress) doesn't have a credit method that the payment/processing class in Spree is looking for:

/gems/spree_core-1.1.1/app/models/spree/payment/processing.rb:76:in `block in credit!'

Tha

[2012-06-08 19:59] msevestre commented on #54
I investigated a bit more to understand what is going on:

In spree core we have following code

[code]
- If review is unchecked, the code in the extensions returns **false** for `payment_profiles_supported?`
  That means that this code is being executed:
  `response = payment_method.capture((amount * 100).round,
                                              response_code,

[2012-06-08 20:13] sbounmy commented on #54
@msevestre, sorry for the late response and thanks for investigating!

I've tested with review checked and it is working for me, but would definitely help to you to find what's wrong with 'comparison of Fixnum with nil failed'
With review unchecked, I didn't get a chance to test it yet and needed some feedback.
Maybe @radar could put us in the right track on how to handle the 'Standard ActiveMerch

[2012-06-13 08:34] samhamilton commented on #54
Same issue for me too.

[2012-06-20 23:59] radar commented on #54
I don't know the answer to this one sorry. If someone else can investigate and submit a patch, I can review.

[2012-06-26 08:55] kennyadsl commented on #58
Same issue here. Have you already solved this problem?

[2012-06-26 11:59] kennyadsl commented on #58
The missing "State" attribute refers to address, not to a state machine model. Looking deeper...

[2012-06-26 12:33] patrickmcelwee commented on #58
I upgraded to 1.0 and was hoping it might solve the issue, which I have only seen with one customer. One problem is that I can't reproduce the error. Later today, I will take a look at my production logs to see if the issue has recurred.

[2012-06-26 13:28] patrickmcelwee commented on #58
The issue has recurred ... this time with a customer from Norway.

It looks to me that the error must be raised when the checkout controller assigns the returning PayPal address to @order.ship_address and then tries to save it.

One way to fix would be to check whether the returning state is blank, and if so, to skip changing the ship_address.

Actually, I think my preferred solution would be to e

[2012-06-26 13:34] kennyadsl commented on #58
Ok, so setting "No shipping" via admin interface will solve the issue.

[2012-06-27 00:35] radar commented on #67
Do you have a way that we can reproduce this problem?

[2012-07-11 11:48] #58 closed, assigned to nobody

[2012-07-11 12:04] patrickmcelwee opened #68 "StateMachine::InvalidTransition in checkout#paypal_confirm"
I am on the edge of Spree's 1-0-stable branch and a customer just got this error when returning from PayPal:

[code]

The backtrace is:

[code]

[2012-07-13 00:42] radar commented on #68
Please provide steps to reproduce this issue

[2012-07-13 02:31] patrickmcelwee commented on #68
I can confirm that this was caused by bumping my version of Spree 1.0 from 33035d8bff158a2a18b43806a27accf590d23f16 (where a PayPal checkout works) to 0760b901247f0bf8839a69a620a0d31d8afc9aef

In order to reproduce, I had to add attr_accessible to the 1-0-stable branch. I have a pull request to fix that separate issue: #69

Here are the steps:
1. Setup Spree store using Spree ref: 0760b901247f0bf8

[2012-07-13 03:29] radar commented on #68
Fixed with #69.

[2012-07-13 03:29] #68 closed, assigned to nobody

[2012-07-17 13:58] BDQ commented on #54
I'm taking a look at this PR, it appears to be a little more broken by some recent changes in spree but overall has some decent improvements.

[2012-07-19 11:40] nchatu commented on #54
I am getting the same error when capturing the payment from the admin with both Spree::BillingIntegration::PaypalExpress and Spree::BillingIntegration::PaypalExpressUk

[2012-07-19 14:36] cwise commented on #54
+1 for this. We are running into the original problem up top with the confusion between capture for a Spree::Creditcard object and capture in ActiveSupport. This has gotta be a show-stopper for anyone using 1.1.1.

[2012-07-19 15:08] cwise commented on #54
The problem at the very top of this list is that capture didn't exist in Creditcard, but does exist in CreditCard. How did it used to work? Anyone using on older gateway, how did you complete payments?

[2012-07-20 10:32] BDQ commented on #54
I've just pushed fixes to 1-1-stable and master, and everything is working for me with a 1.1.2 based stored.

I've also fixed the majority of broken specs.

Please test and open tickets for anything specific thats still broken. Thanks!

[2012-07-20 10:32] #54 closed, assigned to nobody

[2012-07-20 10:47] cwise commented on #54
Thanks for this.

[2012-07-20 11:28] BDQ commented on #67
Credits are working for on 1-1-stable and master right now.

[2012-07-20 11:28] #67 closed, assigned to nobody

[2012-07-20 11:29] BDQ commented on #27
Cannot replicate closing for now.

[2012-07-20 11:29] #27 closed, assigned to nobody

[2012-07-23 17:56] mraaroncruz commented on #54
I am not getting an exception anymore.  Thanks!

[2012-07-23 18:04] mraaroncruz commented on #54
Void is still broken, but that is probably a different issue...

[2012-07-24 00:31] radar commented on #54
@pferdefleisch Please create a new issue and provide steps to reproduce the issue you're seeing regarding void.

Thanks!

[2012-07-24 09:25] mraaroncruz commented on #54
@radar Yeah, sorry about that. I will debug it a bit, later today.

[2012-07-24 10:15] mraaroncruz opened #75 "clicking void `undefined method `environment' for nil:NilClass`"
When I click `void` on a `pending` `Bogus` (don't know if this matters) payment  - I get an exception

[code]

I can provide more of a stacktrace on request.

[code]

Clumsily referred to in #54

[2012-07-26 02:25] radar commented on #75
It would seem like your Payment object doesn't have payment_method assigned to it. Why is that?

On Tuesday, 24 July 2012 at 8:15 PM, Aaron Cruz wrote:

[2012-07-26 11:00] mraaroncruz commented on #75
I don't know.  Could it do with it being `Bogus`.  I didn't want to mess with real payments on my client's production site.  But I will if I have to.  Let me know.

[2012-07-26 11:41] mraaroncruz commented on #75
The `Spree::PaymentMethod` that was used to create the `Spree::Payment` no longer existed.  So when I `void`ed it, it was looking for a `payment_method_id` that didn't exist - thus the exception.
This is a spree issue, not a `spree_paypal_express` issue.
This seems like a bug to me.  Maybe you have more insight @radar.

[2012-07-26 11:41] #75 closed, assigned to nobody

[2012-08-09 15:07] cwise commented on #54
I thought I should leave a note here for anyone that runs into an issue with "Transaction ID is invalid" after upgrading. It used to be that the authorization was pulled from the log_entries associated with the payment. Later, it was updated to pass the response_code field from the payment itself.

The problem occurs if you have older orders that were authorized under the old scheme. The value of

[2012-08-13 11:46] samhamilton opened #76 "Item Description on PayPal includes HTML Code"
If you checkout using PayPal and the item description has HTML code included then the description on the PayPal page will also include HTML code.

[2012-08-19 08:21] zecke opened #77 "Capturing ends with an exception if authorization is in 'payment-review'"
If the Authorization has params['pending_reason'] == 'payment-review' the capturing will fail with an exception.  The PayPal documentation names it 'paymentreview' but in the log I have it is payment-review.

https://cms.paypal.com/uk/cgi-bin/?cmd=_render-content&content_ID=developer/e_howto_html_IPNandPDTVariables#id091EB04C0HS

[2012-08-23 16:17] j15e opened #78 "Use billing address as shipping address is not sent"
When you set "Use billing address as shipping adress", the customer adress seems to not always be sent to Paypal and this causes issues because the user adress in Paypal may not fit your states/provinces configured in Spree.

Exemple : I have an issue because Paypal return me "Newfounland" instead of "Newfoundland and Labrador"

From what I see, the ship_address should be cloned on save with clone

[2012-09-03 10:45] murtazajafferji opened #79 "Bundler could not find compatible versions for gem "spree_core""
I just updated my Gemfile from:
<code>gem 'spree', '1.1.2.rc1'</code>
to:
<code>gem 'spree', :git => "git://github.com/spree/spree.git", :branch => '1-2-stable'</code>

and now I'm getting this error when I run <code>bundle update</code>:

<code>Bundler could not find compatible versions for gem "spree_core":
  In Gemfile:
    spree_social (>= 0) x86-mingw32 depends on
      spree_core (~> 1.1.0)

[2012-09-03 18:30] JDutil commented on #79
Please see https://github.com/spree/spree_social/issues/47

[2012-09-03 18:30] #79 closed, assigned to nobody

[2012-09-03 20:17] murtazajafferji commented on #79
I have decided to revert back to <code>gem 'spree', '1.1.2.rc1'</code> until Spree 1.2 is fully supported. Thanks.

[2012-09-12 20:34] jsqu99 opened #81 "Payment Methods are registered incorrectly"
Attempting to start a rails server using spree 1.2 yields:

/Users/jeffsquires/.rvm/gems/ruby-1.9.3-p194/bundler/gems/spree_paypal_express-28c925e1f1aa/lib/spree_paypal_express/engine.rb:24:in `block in <class:Engine>': undefined method`+' for nil:NilClass (NoMethodError)

Changing the section starting at: https://github.com/spree/spree_paypal_express/blob/master/lib/spree_paypal_express/engine.rb

[2012-09-22 22:26] jumph4x opened #84 "1-1-stable, :review breaks collection of payment"
For the 1-1-stable branch, enabling :review breaks collection of payment.

Order moves to :complete, but no actual payment is collected from the user. Just deployed 1-1-3 to production, ask me how I know...

Disabling :review moves things along nicely. Don't forget to re-enter password.

[2012-10-15 01:58] msevestre opened #86 "Gateway Error: Security header is not valid"
I tried to setup the paypal gateway method in production with valid credentials.
I entered the credentials many times to be sure that I did not make any mistake as suggested in issue #39
I am using MySQL . Could the problem with preferences described in #39 still be there?
That is an urgent matter as the site is live now. all tests with Sandbox accounts are fine

Thanks
Michael

[2012-10-17 21:21] RohanM opened #87 "Saving payment method preferences without re-entering password clears the password"
When I go to the payment method configuration page for a previously configured payment method using paypal express, and I click Update without making any other changes, the password for the payment method is set to blank. I would expect that if I didn't enter a password, the password would not be changed.

The result of this is that when, as a customer, I try to check out using paypal, when I clic

[2012-10-17 21:27] JDutil commented on #87
This is actually just a poor user experience.  The password doesn't display within the admin configuration because it is a password input type.  The password is actually still saved, and does not get overridden when you save the configuration again unless you enter a value.  I'd like for the password field to display asterisks indicating a value is actually saved, but that would cause your passwor

[2012-10-17 21:42] RohanM commented on #87
I agree that it's probably not an issue with the extension, however, I'm seeing the password being overwritten on my dev box:

[code]

This is with Rails 3.2.8, Spree 1-1-stable and spree_paypal_express 1-1-stable.

[2012-10-17 22:01] msevestre commented on #86
this is related to #87

[2012-10-17 22:01] #86 closed, assigned to nobody

[2012-10-17 22:02] msevestre commented on #87
I can confirm this issue. (I reported it at #86)
The password is being overwritten on update which is definitely a bug

[2012-10-17 22:04] msevestre commented on #87
That might be corrected with this merge
https://github.com/spree/spree/issues/2094

[2012-10-17 22:17] RohanM commented on #87
I updated spree to the latest 1-1-stable and I can confirm this is fixed. Thanks!

[2012-10-17 22:21] JDutil commented on #87
Awesome going to close this out.

[2012-10-17 22:21] #87 closed, assigned to nobody

[2012-10-18 17:02] joemsak opened #88 "Setting Auto Capture = true doesn't auto capture and causes "Transaction ID is invalid." in Admin UI"
Please read the steps linked in the first comment for full story on this issue

[2012-10-19 14:41] joemsak commented on #88
Steps to reproduce outlined here:

https://github.com/spree/spree/issues/2102#issuecomment-9589331

[2012-10-19 14:44] joemsak opened #89 ""No Shipping" label is vague, does not make it clear that this overwrites the customer's details with the response from Paypal"
Hi, I am reposting this from spree/spree!

The paypal express gateway takes the details from your paypal account and overwrites the shipping details from that account.

If you want to ship to someone else but use your paypal account to pay, your account's name shouldn't go on their shipping label.

Also, we added a "gift" option that people will likely use to ship directly to the recipient, so the

[2012-10-19 17:15] webdz9r opened #90 "echeck cleared buy spree shows balance due"
Each one of my clients echecks show cleared in paypal but payment still shows pending echeck.

Using spree_core (1.1.0)
Using spree_paypal_express (1.1.0) from git://github.com/spree/spree_paypal_express.git (at master)

IPN is configured properly

[2012-10-21 21:55] clemens opened #91 "Scoping in CheckoutController"
There's something that worries me about this extension: It adds lots of unscoped, private methods to the CheckoutController (`all_opts`, `order_opts` etc.). This could lead to big trouble if other extensions add methods with the same names to the CheckoutController.

I see two possible solutions:
- The proper way would probably be to extract one or multiple actual objects that handle the PayPal be

[2012-10-23 23:02] joemsak commented on #88
Update:

It turns out this is likely an issue when dealing in foreign currencies.

This can be resolved by setting this setting in your Paypal Store (Sandbox test or otherwise)

It should be noted that we are using EUR. We have configured the Payment Method to use EUR and the paypal store is in EUR. We are also only using a Paypal Sandbox Test Store as of this comment. We haven't yet been in produ

[2012-10-30 18:25] jsqu99 opened #92 "Disable the paypal button"
I believe we should force the user to use the 'save and continue' button instead of the paypal button.

The reason for this is two-fold:
- propagate the coupon code to spree (we currently ignore the coupon code if they use the button)
- make the UI behave the same way for all payment methods

Pull request coming

[2012-10-30 18:33] msevestre commented on #92
+1 for that

On Tue, Oct 30, 2012 at 2:25 PM, Jeff Squires notifications@github.comwrote:

[2012-11-06 22:35] neotericdesign opened #98 "Add separate config for Paypal header logo"
I suggest considering a separate config for the logo instead of the main store logo, since Paypal requires a specific size for the logo to be within the header's viewable area.

[2012-11-12 22:40] JDutil commented on #92
Fixed with ebecca518b834b00f65466e045d7aacc18137c8b

[2012-11-12 22:40] #92 closed, assigned to nobody

[2012-11-12 22:42] JDutil commented on #63
I believe the issue your having is related to https://github.com/spree/spree_paypal_express/issues/92 which has been fixed.  The issue was the promotion code form needed to be submitted before the paypal image was clicked on.

You can open a new issue if you still experience problems after the update.

[2012-11-12 22:42] #63 closed, assigned to nobody

[2012-11-12 22:47] #81 closed, assigned to nobody

[2012-11-14 15:56] neotericdesign commented on #88
Could someone remind us what the method is that needs to be called in order to make the Shipment status go to Ready? Thanks!

[2012-11-19 12:42] JDutil commented on #76
This has been addressed w/ 50684bb

[2012-11-19 12:42] #76 closed, assigned to nobody

[2012-11-20 07:59] JDutil commented on #98
Could you submit a pull request?

[2012-11-20 10:38] tomash commented on #81
could this be merged also to 1-1 branch? because i have the same issue with spree 1.1.2.

[2012-11-20 11:43] JDutil commented on #88
Does the product being ordered have enough quantity on hand to fulfill the order?  If there is insufficient stock then the shipment will remain in a pending state.

[2012-11-20 11:46] JDutil commented on #91
Could you provide a pull request for your second choice prefixing the methods with paypal_ please?

[2012-11-20 11:49] JDutil commented on #62
This has been fixed by 26da5770907c396aa8e9d16d5e7685311e3b7240

[2012-11-20 11:49] #62 closed, assigned to nobody

[2012-11-20 16:22] JDutil commented on #88
As mentioned on https://github.com/spree/spree/issues/2102 this issue has been resolved.

[2012-11-20 16:22] #88 closed, assigned to nobody

[2012-11-21 16:20] bigbentobox opened #101 "undefined method `addresses'"
When I want to do payment with PayPal on the master branch of spree I get this error :

[code]

What is wrong?

[2012-11-26 12:35] #101 closed, assigned to nobody

[2012-11-26 12:36] JDutil commented on #101
This should be fixed once you update to the latest commit. i.e.

[code]

Then restart your web server.

[2012-11-26 22:50] bozza70 commented on #101
Hi Am not sure if this is the same problem..I update to the latest commit and I get the following error.

Started PUT "/checkout/update/payment" for 127.0.0.1 at 2012-11-27 09:45:14 +1100
Processing by Spree::CheckoutController#update as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"yEWk+Xnypg7P60EQuembhf7/SK9NH2f9z91uHBk3B0U=", "order"=>{"payments_attributes"=>[{"payment_method_id"=>"1"

[2012-11-27 01:27] JDutil commented on #101
No this is a different error.  Are you using the proper branch for the version of spree that your on?  If you don't solve the issue by checking the versions your using please open a new issue with this error and your Gemfile entries for spree & spree_paypal_express.

[2012-11-27 02:49] bozza70 opened #102 "NameError in Spree::CheckoutController#paypal_payment"
I am using the following spree and paypal in Gemfile

gem 'spree', :git => 'git://github.com/spree/spree.git', :branch => '1-2-stable'
gem "spree_paypal_express", :git => 'git://github.com/spree/spree_paypal_express.git'

and upon clicking checkout and payment I get the following errors..

 NameError in Spree::CheckoutController#paypal_payment

undefined local variable or method `spree_root_url' f

[2012-11-27 03:01] #102 closed, assigned to nobody

[2012-11-27 03:02] JDutil commented on #102
I've pushed another update that should resolve this issue for you once you update.  Let me know if you run into further problems.

[2012-11-27 03:16] bozza70 commented on #102
It's working now..
Thank you.. :-)

[2012-11-30 22:55] bozza70 opened #103 "NoMethodError in Spree::CheckoutController#paypal_payment undefined method `line_items' for #<Spree::CheckoutController:0xb98e7b0>"
I am getting this error.
Can you help me out?

here is the gemfile

gem 'spree', :git => 'git://github.com/spree/spree.git', :branch => '1-2-stable'
gem "spree_paypal_express", :git => 'git://github.com/spree/spree_paypal_express.git'

the trace is:

/home/bozza/.rvm/gems/ruby-1.9.3-p327/bundler/gems/spree-00f08c6bc19a/core/app/models/spree/calculator/flat_percent_item_total.rb:14:in `compute'
/ho

[2012-11-30 23:04] #103 closed, assigned to nobody

[2012-11-30 23:04] JDutil commented on #103
Please update your repo and this should be resolved:

[code]

[2012-12-02 07:16] guoxinghuang opened #104 "Need to add support the spree 2.0.0Beta"
"XXXX"  => { :branch => "master" }

Need to add support the spree 2.0.0Beta.

[2012-12-02 12:27] runlevel5 commented on #84
@jumph4x please submit a patch, I'll review for you

[2012-12-03 01:36] guoxinghuang opened #105 "Bundler could not find compatible versions for gem "spree_core":"
MacBook-Pro:sandbox gordon$ bundle install
Updating git://github.com/spree/spree_paypal_express.git
Fetching gem metadata from https://rubygems.org/.......
Fetching gem metadata from https://rubygems.org/..
Bundler could not find compatible versions for gem "spree_core":
  In Gemfile:
    spree_paypal_express (>= 0) ruby depends on
      spree_core (~> 1.2) ruby

[code]

[2012-12-03 20:02] JDutil commented on #104
@gordonhuang please only report the same issue once.  I'm closing this one since you also reported it in #105

[2012-12-03 20:02] #104 closed, assigned to nobody

[2012-12-10 10:47] pavelnikolov opened #106 "Gateway Error: translation missing: en.the_totals_of_the_cart_item_amounts_do_not_match_order_amounts"
Hello,

I have spree 1-2-stable, and I'm using spree-paypap-express 1-2-stable branch (tried with master too but again failed). When I try to checkout an order and select PayPal express as the payment method it fails with an error: "Gateway Error: translation missing: en.the_totals_of_the_cart_item_amounts_do_not_match_order_amounts". For some reason the order total does not match cart item amount

[2012-12-10 14:13] bolom commented on #105
I have same issue with  rails 3.2.9

[2012-12-10 14:44] schof commented on #105
This is because the master branch of spree/spree is now version 2.0.0.beta.  We need to fix the gemsepc and create 1.3.x compatible branch and note in Versionfile.

[2012-12-13 22:03] pavelnikolov commented on #106
Here are more details. I have 3 shipping options. 1 for Denmark, 1 for rest of Europe and one for outside of Europe. The problem is that in the spp extension it is hardcoded to always get the first one instead of the one matching the shipping country. This caused big problems for me.

[2012-12-13 22:07] pavelnikolov opened #107 "Negative tax item - VAT included in the price"
If you have VAT included in the price in the extension the tax needs to be set to 0

<pre>
if opts[:tax] &lt; 0
  opts[:tax] = 0
end
</pre>

fixed the issue for me and PayPal stopped complaining that the tax was invalid.

[2012-12-15 01:09] bolom commented on #106
I have the same issue

[2012-12-15 03:58] JDutil commented on #106
Thanks for the report and details guys.  I'll try taking a look into this when I get a chance.  If you are able to tackle this with a pull request in the meantime before I can get to it that would be awesome, and likely get this issue resolved faster.

[2012-12-19 17:48] bolom opened #109 "NoMethodError in Spree::Admin::PaymentsController#fire"
Spree 1.3
spree_paypal_express Master
- Order processes OK
- customer returned to spree confirmation page Ok
- Go to admin
- Using the 'capture' button in spree admin, error displayed:

NoMethodError in Spree::Admin::PaymentsController#fire

undefined method `params' for nil:NilClass
Rails.root: /Users/bolo/Documents/Coding/Perso/hairdom/shop

Application Trace | Framework Trace | Full Trace
/User

[2012-12-19 20:17] bolom commented on #106
@jdutil pull submitted

[2012-12-19 21:35] pavelnikolov commented on #106
Thanks about your effort!

[2012-12-21 17:13] bolom commented on #109
When

[2012-12-21 17:13] #109 closed, assigned to nobody

[2013-01-03 03:54] JDutil commented on #107
@pavelnikolov was this the solution to #106 for you?

[2013-01-03 07:26] pavelnikolov commented on #107
@jdutil yes, partially. I think now there is a pull request that has the issue fixed. Also you can take a look at quick and dirty solution I have in my fork that "works for me" for that specific case. So I cannot guarantee that it will work for you too. I haven't had the time to review the issue thoroughly and fix it for all cases.

[2013-01-03 22:28] joahking opened #110 "i18n support for paypal payment statuses"
on https://github.com/spree/spree_paypal_express/blob/master/app/overrides/spree/shared/_order_details/add_paypal_details.html.erb.deface#L8

[2013-01-03 22:30] joahking commented on #110
https://github.com/spree/spree_paypal_express/pull/111

[2013-01-04 05:12] #110 closed, assigned to nobody

[2013-01-04 08:31] JDutil commented on #106
@pavelnikolov could you please:

[code]

Then give my latest update a shot, which should resolve this issue for you.  In master as 9dd1f47110dbe26aac045441ea36d545db743d1c but for 1-2-stable which I believe your ussing is dc6bccfad3cec99bd3384de1c59d8ddbbd1f1914

[2013-01-04 08:31] #106 closed, assigned to nobody

[2013-01-04 08:36] JDutil commented on #107
I believe this is actually a separate issue than #106 which should be all set now.  Is it normal that there could be a negative tax amount w/VAT?  That seems like it is more an issue with the tax calculation being negative to me than anything else, but I'm not that familiar with VAT.

If having a negative value is common and not a miscalculation of tax than I think we would need to subtract it fro

[2013-01-04 08:50] #105 closed, assigned to nobody

[2013-01-04 09:17] pavelnikolov commented on #107
As far as I remember when the VAT is refunded there is a negative adjustment added to the order with the same amount as the tax. So setting the tax to 0 fixed the problem for me. PayPal just does not work with negative tax. But you can have as many negative items as you want. Correct me if I'm wrong.

[2013-01-04 09:45] JDutil commented on #107
Sorry I'm not familiar enough with how the VAT works.  I wouldn't think you would have a negative amount when checking out.  I could understand if there was a refund after checkout added to the order.

[2013-01-04 10:05] pavelnikolov commented on #107
Here is simple step to reproduce:

1) create VAT tax for example 20% (0.2) and
2) create a default tax zone that applies this VAT to specific country (let's say Bulgaria for example)
3) in tax settings set the VAT to be included in the Price. (this means that when for example you import a product with price 100 EURO this price includes the item price + 20% VAT - this automatically means that the i

[2013-01-04 10:36] steveroot commented on #107
Hi all,
Hopefully I'm adding some value here...

@Pavel - I understand your 4 steps.

I also have VAT (in the UK), and we have VAT at different rates on
different products.  I also have my store set as 'VAT to be included in the
price' - your step 3.   I'm fortunate in that we don't sell outside the UK
so everyone of our customers pays the VAT and all my products are within
one VAT rate too.

Howe

[2013-01-04 10:48] pavelnikolov commented on #107
@Steve

Maybe it will solve it I don't know - it was a customer requirement - the client insisted that the VAT be included in the price. And also I have another client in Sweden who also told me that this was required for his shop as well. So I was just trying to fulfill clients' requirements.

Pavel

On 04.01.2013, at 12:37, Steve Root wrote:

[2013-01-04 11:44] steveroot commented on #107
That is my requirement as well, so I think (going back a year in my memory)
the reason I chose to check the box 'VAT included in the price' is because
otherwise the web site would display Excluding VAT prices.  What I really
wanted was an option/check box/helper that would display the prices on the
web page as including VAT.
I didn't fancy editing all the views though and I could live with only
se

[2013-01-05 18:58] jdevine commented on #103
Hi, I'm getting the same error with the following Gemfile, just updated:

gem 'spree', '1.3.0'
gem 'spree_gateway', :git => 'git://github.com/spree/spree_gateway.git', :branch => "1-3-stable"
gem 'spree_auth_devise', :github => 'spree/spree_auth_devise', :branch => '1-3-stable'
gem 'spree_static_content', :github=>'spree/spree_static_content', :branch => 'master'
gem 'spree_paypal_express', :git =

[2013-01-05 21:10] JDutil commented on #103
@jdevine should be fixed now once you update again.

[2013-01-05 21:46] jdevine commented on #103
Awesome, Thanks!

On Sat, Jan 5, 2013 at 4:10 PM, Jeff Dutil notifications@github.com wrote:

##

---

John Devine
johnjdevine@gmail.com
(410) 226-9912
(615) 427-5132 (c)

[2013-01-05 22:46] jdevine opened #112 "Localization key: a_match_of_the_shipping_address_city_state_and_postal_code_failed"
Just started trying out the plugin, and got a gateway error needing a translation for

en.a_match_of_the_shipping_address_city_state_and_postal_code_failed

Added one to my own locals/en.yml file saying "Paypal couldn't verify the shipping city, state, or zip code. Please return to step 1 above to review the address you entered."

[2013-01-06 15:55] scottkf opened #113 "undefined method `preferred_cart_checkout'"
Using Spree Gateway I have a test account setup for Stripe, and after I setup the PayPal express account and try to checkout with paypal, I get the following message on the latest from master in each branch.

[code]

[2013-01-06 16:02] JDutil commented on #113
Which branches of spree & spree_paypal_express are you using?  Have you tried to update spree_paypal_express to the latest commit for that branch?  I recently did some fixes for this that you may not be running if your out of date.

[2013-01-06 16:08] scottkf commented on #113
Both spree and spree_paypal_express are taken from the master branches w/the latest commit from paypal being 771cb6cf3ebc. I tried manually pulling the repos to make sure as well

[code]

[2013-01-06 16:14] JDutil commented on #113
Could you please provide a new backtrace after having updated to the latest paypal express commit.  The backtrace you've posted doesn't match up so I can't verify my fix is being run by you.  The following line in your backtrace:

[code]

Should really look like this in the latest commit to master:
https://github.com/spree/spree_paypal_express/blob/master/app/controllers/spree/checkout_controller_

[2013-01-06 16:16] scottkf commented on #113
Actually, I forgot to stop/start puma, but now I get this guy:

[code]

I'll clear the database and try again

[2013-01-06 16:18] JDutil commented on #113
Going to close this out.  Please file a new issue if you continue to have problems with this extension.  Fair warning there could likely be issues with using Spree 2.0.x and this extension.  I only updated the gemspec to allow you to bundle the extension with edge spree.  Any backwards incompatible updates in Spree 2.0.x have not been found and/or fixed yet.  If you find any pull requests are welc

[2013-01-06 16:18] #113 closed, assigned to nobody

[2013-01-06 16:21] scottkf commented on #113
Right, thanks!

[2013-01-11 04:13] jdevine opened #114 "Shipping Addresses"
This more a question, and perhaps an issue... When shipping to an address other than the billing address, the paypal interface includes a checkbox under the address labeled:

"use as preferred shipping address"

In testing, I've unchecked the box, because it seems that leaving it checked would change my (dummy) paypal account's "preferred shipping address" in addition to shipping to that address.

[2013-01-14 14:16] GeekOnCoffee opened #117 "Get Tests Passing on Travis"
https://travis-ci.org/spree/spree_paypal_express/builds

[2013-01-15 06:07] JDutil commented on #117
Fixed w/ 20b4042641343af54f755683aeba99087684cc16

[2013-01-15 06:07] #117 closed, assigned to nobody

[2013-01-22 17:32] joemsak opened #119 "Shipping address is not sent to paypal"
Hi!

When you fill in a shipping address different from the billing address, it is not used in the Paypal screens anywhere.

On the "Final" Paypal screen, you see your shipping address before clicking to return to the site, and it is actually the Billing Address

Looking into the Checkout Controller Decorator, it looks like there is only one [:address] option, so there doesn't appear to be a way t

[2013-01-24 14:49] jackkinsella opened #120 "CheckoutHelperDecorator no longer necessary in spree-1.3 branch."
Its continued presence breaks the ability of checkout_flow customization to dynamically update the checkout_progress visual breadcrumbs because address and delivery states are hardcoded in this gem.

[2013-01-30 14:16] skatkov commented on #120
Yeah, i'm running in to same problem here. Have to override CheckoutHelper to make it dynamic. Please remove it from gem.

[2013-01-30 16:02] skatkov opened #123 "Paypal refuses to work without shipment configuration"
I'm using paypal_express gem with spree_digital - all products are downloadable. So, i disabled address and delivery pages.

So, then i checkout i receive error after payment page (selecting paypal as gateway ofcourse ). here it is:

[code]

workaround would be (basically, just add default shipment):
- Add shipping category
- Assign shipment method to category
- Add default shipment to all product

[2013-02-01 19:15] zecke opened #124 "checkout_controller_decorator.rb redirects even if there are errors of the model"
The decorator will always redirect to the PayPal page even if the order model has validation errors. The below snippet is working around the issue:

[code]
-      if not @order.errors.empty?
-         render :edit and return
-      end
  +

[2013-02-02 05:30] jdevine commented on #119
I was trying to debug a similar situation, which was apparently caused by me trying to allow both paypal checkout from the cart, and as a payment method on my payment page.

In line 29 of spree/checkout_controller_decorator.rb:

[code]

The address_options call is what puts the shipping address into the payload to paypal. So if you have the "cart checkout" option checked on your paypal payment_met

[2013-02-02 19:57] jetsgit commented on #106
@jdutil  was this fixed in Spree v.1.3.2? I just did a vanilla install + spree_tax_cloud and I got this same error.

[code]

[2013-02-02 20:15] JDutil commented on #106
@bluehandtalking the fix for the particular error being received before is in 1-3-stable.  Are you sure your Gemfile.lock is referencing the latest commit in the 1-3-stable branch?  There could possibly be some incorrect values being passed around depending on how spree_tax_cloud ends up integrating with this extension, but I don't know of any reason why they shouldn't just work fine together.

[2013-02-02 22:11] jetsgit commented on #106
@jdutil

Think you are right, was pulling in wrong version---that error has
disppeared.

There is no problem with spree_tax_cloud at this point, as I have
removed it for
this test. Side note, spree_tax_cloud now properly updates tax in cart
if user
leaves checkout process to add or delete items in cart.

I am getting another error which I will open a separate issue on

[code]

On 02/02/2013 12:15

[2013-02-04 17:35] audioeric opened #126 "Gateway Error: translation missing: en.callback_url_is_wrong_type_you_must_use_the_https"
Working on a fresh install of Spree and Spree_PayPal_Express and getting an issue when I go to use a production PayPal account:

When user clicks 'Save & Continue' on Payment Screen in Checkout this error appears on page:

Gateway Error: translation missing: en.callback_url_is_wrong_type_you_must_use_the_https

and there is nothing in the production.log specifically about it.

If I switch over to

[2013-02-04 21:07] JDutil commented on #126
You must be using https for your callbacks in production.  It is required as your passing sensitive user information back and forth with PayPal.  Once you setup SSL on your production site, and update the callback url to be your https location things will work for you.

[2013-02-04 21:07] #126 closed, assigned to nobody

[2013-02-11 21:54] #120 closed, assigned to nobody

[2013-02-11 21:54] JDutil commented on #120
Updated master and 1-3-stable to resolve this.

[2013-02-11 22:06] JDutil commented on #124
Thanks this is fixed after merging your pull request.

[2013-02-11 22:06] #124 closed, assigned to nobody

[2013-02-16 16:15] zecke commented on #112
I am hitting it too. It got introduced with this commit https://github.com/spree/spree_paypal_express/commit/4725846db0922a34f566231eca82e29c2cd292a7. At least when the current locale is english it should fallback and present the error like it came from PayPal

[2013-02-16 21:38] skatkov opened #127 "Dummy property 'CHECKOUT FROM CART' in configuration"
![Screen Shot 2013-02-17 at 4 42 34 ](https://f.cloud.github.com/assets/544377/164195/a2c20c60-7881-11e2-9a08-0e27479e4dbf.png)
PaypalExpress configuration contains boolean property named 'CHECKOUT FROM CART' that seems  as not working. I didn't found any code that is able to do 'that this property is aimed for' and spec's also reflect my opinion:

[code]

Maybe removing this property would be goo

[2013-02-16 22:19] JDutil commented on #127
The property does work for allowing users to checkout from the cart.  There currently is not any deface override to add a checkout w/paypal button to the cart page though.

[2013-02-16 22:19] #127 closed, assigned to nobody

[2013-02-16 22:50] skatkov commented on #127
Can you share more info? Where can i find code that does this, so i can add Deface myself? Maybe you have issue for this with more information?

[2013-02-17 12:07] murtazajafferji opened #128 "undefined method `state_callback'"
I get this error after checking out:
<code>NoMethodError in Spree::CheckoutController#paypal_confirm
undefined method `state_callback' for #Spree::CheckoutController:0x7b15be8</code>

https://github.com/spree/spree/pull/2557

[2013-02-26 03:22] JDutil commented on #127
You will need to add a link to the paypal payment url with the appropriate payment method id.  It'll end up looking something like this:

[code]

[2013-02-26 05:31] #112 closed, assigned to nobody

[2013-02-26 05:31] JDutil commented on #112
Should be fixed with 4b8f494

[2013-02-26 08:48] #128 closed, assigned to nobody

[2013-02-26 08:48] JDutil commented on #128
Fixed w/ 8290252

[2013-02-26 10:25] ghost commented on #58
I have this issue today ... but it happens only when selecting credit card in Paypal account ..
If user select his Paypal account , processing return is OK
see logs in gist :  https://gist.github.com/erwin/5037469

It seems that using CreditCard in Paypal is returning user infos  ( address ) without the 'state'  info

[2013-02-26 10:27] ghost commented on #58
sorry I may have posted in the wrong git .. should have posted it in Spree ..  but it's related ...

[2013-02-27 00:51] jumph4x commented on #58
@kennyadsl Can you elaborate on the effects of changing `No shipping`?

[2013-02-27 15:38] kennyadsl commented on #58
@jumph4x As far as I can remember ( it's a 8 months ago comment :) ) setting to `No shipping` will prevent PayPal to pass address data to spree or viceversa.

[2013-03-02 20:23] matzipan opened #133 "Paypal express needs to adopt the display_on attribute"
The specific error is

[code]

The error seems to be triggered by something which was recently added to core: https://github.com/spree/spree/commit/f601e435321124288e057a38acd668ce65c57788

The module goes boom at `block in Spree::PaymentMethod.available spree/core/app/models/spree/payment_method.rb, line 29`  which is `(p.display_on == display_on.to_s || p.display_on.blank?)`.

So basically it go

[2013-03-02 22:28] radar commented on #133
Which version of Spree are you using?

Are you sure you ran the migrations again?

[code]

[2013-03-02 22:28] #133 closed, assigned to nobody

[2013-03-13 20:34] geermc4 commented on #84
@jumph4x is this what you where seeing `NoMethodError: undefined method 'payment' for #<Spree::Order:0x00000006c1fb28>`, if so, how did you fixed it, removing the Review check didn't do it for me.

[2013-03-13 20:39] jumph4x commented on #84
@geermc4 not the same...

[2013-03-13 20:58] geermc4 commented on #84
@jumph4x yup, your right, that method is gone now, https://github.com/spree/spree/commit/3d0fa4ff434569ff8491aba690fde87e577ec19c

[2013-03-17 08:45] skatkov commented on #127
Thanks for additional info.

I would expect it to go directly to paypal after clicking 'checkout with paypal'. But in my case it moves only to 'payment' page.

This sounds correct to you?

[2013-03-17 17:00] JDutil commented on #127
No it should take you directly to paypal.

[2013-03-20 14:37] jackkinsella opened #135 "Paypal error: "Sorry - your action could not be completed""
If anyone's Spree website suddenly stopped accepting Paypal payments today and after redirection to Paypal they saw the error in this issue's title then this failure is due to a bug on Paypal's end. I've talked to their technical support and they've filed a ticket. For now the (tested) hot fix is the following:

[code]

[2013-03-20 17:12] dashdotat commented on #135
Yep, bitten with the same thing - user_locale is currently returning "en" (which is incorrect) and should be "GB" for the UK - I think a patch to allow setting locale for PayPal in the configuration is needed (if I get a chance I'll try and get a pull-request for this at some point)

[2013-04-02 20:17] fmd commented on #84
I am also getting this issue on 1-3-stable, even after https://github.com/spree/spree_paypal_express/commit/b0173f73e750d016e0533bf7b3f4e2cf7fe68bb7

[2013-04-03 09:29] fmd commented on #84
I have put in a pull request that fixes this issue for me on 1-3-stable.

https://github.com/spree/spree_paypal_express/pull/136

[2013-04-09 14:58] ghost opened #137 "error w latest shared / _order_details / add_paypal_details.html.erb.deface"
that's very strange checking first   which means order can have many payments

line 41 >  if order.payments.present? && order.payments.any?
then displaying   'order.payment...'  which means order has one payment ...
line 44 >  <%= t("paypal_payer_statuses.#{order.payment.source.payer_status.to_s}").capitalize %

I got an error  'undefined payment method for Order
/Users/yves/.rvm/gems/ruby-1.9.3-p

[2013-04-11 08:11] fmd commented on #137
Have a look at https://github.com/spree/spree_paypal_express/pull/136; I've submitted a pull request relating to this issue

[2013-04-11 23:43] AlexEscalante commented on #137
I confirm this issue.

[2013-04-12 00:34] pfac opened #139 "1-3-stable, undefined method `payment'"
**spree** + **spree_auth_devise** + **spree_paypal_express**

Followed the README to add this gem in the last stable version, everything went well on the Paypal side, but got _undefined method `payment'_.

Not much setup needed to replicate this in other machines: just added a product, a US shipping method, the paypal payment method (as explained in the [README](https://github.com/spree/spree_payp

[2013-04-12 01:13] msevestre commented on #139
That's the same as #84

[2013-04-12 01:17] pfac commented on #139
Sorry, didn't come up in search. Closing & following #84

[2013-04-12 01:17] #139 closed, assigned to nobody

[2013-04-12 04:16] #84 closed, assigned to nobody

[2013-04-12 04:17] JDutil commented on #137
Should be fixed by #136

[2013-04-12 04:17] #137 closed, assigned to nobody

[2013-04-17 22:32] francisli opened #140 "Unable to configure Checkout from Cart"
Hello, I apologize for opening an issue for this, but I'm not sure where else to go to work out how to fully configure PayPal Express Checkout to be able to Checkout from Cart.

Here's what I have so far:
- A fresh Rails 3.2.13 app with Spree and the PayPal Express Checkout extension from the 1-3-stable branch. Here are the relevant Gemfile lines:

gem 'spree', :github => 'spree/spree', :branch =>

[2013-05-04 07:17] ziyan-junaideen opened #142 "Installation Issues - Spree 1.3.2"
I am attempting to install paypal express checkout, I added the information in the Gemfile and ran `bundle install` where it ended up here.
`
  gem 'spree', '1.3.2'
  gem 'spree_gateway', :github => 'spree/spree_gateway', :branch => '1-3-stable'
  gem 'spree_auth_devise', :github => 'spree/spree_auth_devise', :branch => '1-3-stable'
  gem 'spree_static_content', :github => 'spree/spree_static_cont

[2013-05-05 04:34] JDutil commented on #142
Spree extensions use a [Versionfile](https://github.com/spree/spree_paypal_express/blob/master/Versionfile) to notify people of which versions of spree you can use with the extension.

In this case the Versionfile says that for Spree 1.3.x to use the 1-3-stable branch.

So in your gemfile you should be defining the extension like so:

[code]

For more information on spree extensions you can read t

[2013-05-05 04:34] #142 closed, assigned to nobody

[2013-05-07 04:38] ziyan-junaideen commented on #142
Thanks, it worked... my bad, I saw a hint on the Readme file, sorry!

[2013-05-11 14:43] ziyan-junaideen opened #144 "PayPal Page - Logo"
We have decided to use Spree PayPal Express. But I noticed that at the payment page at PayPal, the logo used is of the default spree logo fetched from the Spree Site.

I am using `stable-1.3`.

`http://demo.spreecommerce.com/assets/admin/bg/spree_50.png`

Is it possible to use use a local version of the image or some other custom image through some sort of configuration?

[2013-05-27 11:57] kevman opened #146 "Missing localized phrase: (not given)"
https://github.com/spree/spree_paypal_express/blob/master/app/controllers/spree/checkout_controller_decorator.rb#L91

[2013-06-04 08:24] BDQ opened #148 "Can't bundle 2-0-stable when using spree/spree/2-0-stable"
Version conflicts between 2.0.0 and 2.0.0.rc1

[2013-06-11 16:17] danidrops commented on #148
Is this why when I add
gem 'spree_paypal_express', :git => 'git://github.com/spree/spree_paypal_express.git', branch: => '2-0-stable'
to my Gemfile and bundle install, it completely ignores this gem? No errors no complaints, just ignored! I'm using spree 2.0.1 Is this related to the current build failing status of this gem?

[2013-06-13 09:04] szajbus opened #149 "Development guidelines"
Hi,
At the moment this extension is broken and doesn't work with Spree 2.0.x due to shipments logic changes in 2.0, so I believe there should be no `2-0-stable` branch at all yet.

I'd like to to help making it 2.0-compatible. Are there any development guidelines for this extension or all spree extensions in general?

Should I commit fixes to `master` branch and they will be later mergen into `*-s

[2013-06-13 15:20] JDutil commented on #149
Yes I would develop within a feature branch off of master, which would get merged to master and then cherry-picked to appropriate stable branches.

Heres a link to the developer contributing guidelines http://guides.spreecommerce.com/developer/contributing.html on the guides site.

[2013-06-13 15:21] JDutil commented on #149
Going to close as this is more a question than an issue.

[2013-06-13 15:21] #149 closed, assigned to nobody

[2013-06-13 18:41] szajbus commented on #149
@jdutil Thanks. Shame on me, I should have read that first.

[2013-06-17 08:25] MatthieuBarthel opened #150 "Cannot choose another Payment method after having choosed Paypal then canceled"
Hi,

Here are the steps to reproduce my issue (using spree 2.0.3, spree_paypal_express 2-0-stable, but I saw this error in 1.3 too) :
- create an order, choose Paypal payment.
- on paypal website, click "cancel..." (i got the text in french so I cannot be precise)
- now you are back on the payment checkout page, choose another payment gateway, then click "save and continue"
- you should have an er

[2013-06-17 09:01] MatthieuBarthel commented on #128
Sorry I posted a note on the commit instead of a comment here :
https://github.com/spree/spree_paypal_express/commit/82902525d52b6f1ce940b2a1365da9b09b342595#commitcomment-3436303

[2013-06-17 11:49] MatthieuBarthel opened #151 "Branch 2-0-stable - cannot access order#show"
Hi,

I just move on Spree 2.0.3, but it looks like the spree_paypal_express 2-0-0-stable branch isn't ready yet, right ?

If I try to access to any order show action (event not paid with paypal), I got the following error :

[code]

If I remove the paypal gem, I can access to this page without error.

Thanks for your help,
Matt

[2013-06-27 08:37] pavelnikolov commented on #151
I have the same problem

**undefined method `payment' for #<Spree::Order:**

It seems that now there can be more than one payment. So we have to replace payment with payments

<pre>
@order.payments.first...
</pre>

[2013-06-27 08:44] pavelnikolov commented on #151
The problem is with this file spree_paypal_express / app / overrides / spree / shared / _order_details / add_paypal_details.html.erb.deface
instead the changes should override - spree / core / app / views / spree / payments / _payment.html.erb

[2013-07-03 11:09] traels commented on #128
Please patch this in 2-0-stable also  :)

[2013-07-03 12:58] MatthieuBarthel commented on #151
Awesome, thanks @pavelnikolov :+1:

It would be cool if someone responsible of this repository can check your PR and merge it, some superhero like @radar maybe ? :)

[2013-07-03 15:06] alexmarles commented on #128
This fails in @radar 's 2-0-stable branch too

[2013-07-10 15:41] dot79 opened #156 "Rails 4 without protected_attributes gem will fail on attr_accessible"
Is supposed to be handled a rails4 branch?
Thanks

[2013-07-11 15:54] JDutil commented on #151
Fix has been merged.

Also Note: Speaking for myself (this does not reflect the Spree teams opinions) I'm pretty sure this extension is no longer maintained by anyone, and I have no interest in maintaining it.  I don't like paypal and this extension is badly needing a refactoring or rewrite to clean it up.  Members of the community are going to need to pick up the torch to keep this extension goin

[2013-07-11 15:54] #151 closed, assigned to nobody

[2013-07-11 23:44] radar commented on #151
I'm also speaking for myself when I say I **actively** avoid working on this project. As much as I would absolutely love there to be a working gateway for PayPal, I don't want to work on this project because it's too much of a mess. It is in desperate need of a refactoring.

[2013-07-12 00:09] radar commented on #151
I've just spent 20 minutes seeing if the PayPal developer experience is as bad as I thought it was.

# TL;DR: yes.

I challenge anyone here to attempt to find out how you can get login credentials to even begin to test the express checkout feature. My favourite part was [this PDF document](https://cms.paypal.com/cms_content/en_US/files/developer/PP_ExpressCheckout_IntegrationGuide.pdf). Go ahead,

[2013-07-12 09:33] MatthieuBarthel commented on #151
Ok, thanks to both of you to be clear and giving your opinion. I don't like paypal very much but for european countries there is very few gateways available.

[2013-07-12 12:38] tejaswinipatil commented on #103
==NoMethodError in Spree::CheckoutController#paypal_payment

== undefined method `shipping_method' for #Spree::Order:0xc0dfadc

I am getting this error on clicking on paypal button can you please help me.

following is my gem file

# Paypal Express

gem 'spree_paypal_express', :git => 'git://github.com/spree/spree_paypal_express.git', :branch => "2-0-stable"

and here is the full trace

NoMethodEr

[2013-07-12 16:35] cbrunsdon commented on #151
We use paypal express in... THREE spree stores. We're going to have to deal with this eventually, but I don't have a timeline on it. Is there a better option out there for taking paypal payments than this extension? Or have people just been ignoring paypal because this extension is a pain?

[2013-07-14 12:03] ckw2013 opened #158 "re: undefined method `shipping_method'"
Hi,

I am currently trying to set up Spree Paypal Express. It does not seem to work at this stage. Whenever I try to checkout with Spree Paypal Express, it gives me this error:

undefined method `shipping_method' for #Spree::Order:0x714ac50

This is my gemfile:

source 'https://rubygems.org'

gem 'rails', '3.2.13'

gem 'mysql'

group :assets do
  gem 'sass-rails',   '~> 3.2.3'
  gem 'coffee-rails'

[2013-07-14 12:05] ckw2013 commented on #158
Hi,

I have added all the standard shipping methods and shipping categories. I am currently setting Spree Paypal Express for a New Zealand based Spree website. Thanks.

Thanks,

K

[2013-07-15 08:59] NARKOZ opened #159 "error when order is completed"
When order completed the following error raises:

[code]

It seems related to deface https://github.com/spree/spree_paypal_express/blob/master/app/overrides/spree/shared/_order_details/add_paypal_details.html.erb.deface because when I remove `<div class="payment-info">` from `app/views/spree/shared/_order_details.html.erb` the error goes.
There is no error when I copy-paste contents of `add_paypal

[2013-07-17 17:21] kylemacey commented on #158
+1

[2013-07-17 17:39] msevestre commented on #151
Hi all,

I am also using Paypal Express in various stores. While the code is really
hard to understand and definitely needs some TLC , it does the job in store
using spree 1-2 and 1-3
Removing PayPal support in spree is in my opinion not an option, especially
for smaller shops
- PayPal is from the user perspective easy to use, and recognized
  worldwide. In fact, that recognition is the reason why

[2013-07-18 06:06] radar commented on #151
I agree. In the same way, I think having an official poorly written extension that is used by a whole bunch of Spreeple is not good and that needs to change.

I have already begun this process in my extension called [better_spree_paypal_express](https://github.com/radar/better_spree_paypal_express), however it's pretty rough around the edges right now. The Free Running Technology guys have volunte

[2013-07-18 06:11] cbrunsdon commented on #151
Yea, honestly we don't give a crap what we use, we only care about the functionality. I'm very happy with better_spree_paypal_express having almost no code in it, relaying on activemerchant for the heavy lifting.

Its got some work to do for sure, but at this point even if Radar never makes another commit we'll look after it eventually.

That said, I haven't looked at what it would take to maintai

[2013-07-23 05:22] radar commented on #159
Hi @NARKOZ, could you please do me a favour and attempt to use the better_spree_paypal_express extension which I mention here? https://groups.google.com/forum/#!topic/spree-user/zXSL3Y1GAUw. My extension should be a replacement for spree's spree_paypal_express extension, but I need some beta testers to give it a run through. If you could do that, then that'd be mighty helpful.

Thanks!

[2013-07-23 05:23] radar commented on #158
Hi @ckw2013 + @KyleMacey, could you please do me a favour and attempt to use the better_spree_paypal_express extension which I mention here? https://groups.google.com/forum/#!topic/spree-user/zXSL3Y1GAUw. My extension should be a replacement for spree's spree_paypal_express extension, but I need some beta testers to give it a run through. If you could do that, then that'd be mighty helpful.

Thank

[2013-07-23 06:12] vishalzambre commented on #158
after using this extension it gives me following error

 ActiveRecord::SubclassNotFound in Spree/admin/payment_methods#index

Showing /Users/lebin/.rvm/gems/ruby-1.9.3-p125/bundler/gems/spree-9e4cfd575319/backend/app/views/spree/admin/payment_methods/index.html.erb where line #34 raised:

The single-table inheritance mechanism failed to locate the subclass: 'Spree::BillingIntegration::PaypalExpres

[2013-07-23 06:35] radar commented on #158
@vishalzambre Please remove any Payment Method from your DB that uses Spree::BillingIntegration::PayPalExpress. That is what is causing this problem.

[2013-07-23 07:00] vishalzambre commented on #158
NoMethodError in Spree::Admin::PaymentMethodsController#create

undefined method `new' for PayPal:Module

[2013-07-23 08:13] radar commented on #158
Please provide stack traces when posting about errors. Please file a new issue on the better_spree_paypal_express project with this error, the related stack trace your Gemfile, and steps to reproduce the error. Thanks!

On Tue, Jul 23, 2013 at 5:00 PM, Vishal Zambre notifications@github.com
wrote:

[2013-07-24 03:09] radar commented on #151
I've switched [better_spree_paypal_express](https://github.com/radar/better_spree_paypal_express) to use [PayPal's Merchant SDK](https://github.com/paypal/merchant-sdk-ruby). Can I get @cbrunsdon @gmacdougall @msevestre @MatthieuBarthel and so on to test this please?

[2013-07-24 15:13] JDutil commented on #151
Thanks @radar @cbrunsdon and @msevestre for looking to pick this up from scratch.  I occasionally have clients working with paypal express and it's the only time I touch this project with dread.  Having a fresh solution next time around will be welcome.

[2013-07-24 20:33] sohara opened #161 "Rebase/update 2-0-stable branch"
The 2-0-stable branch appears to be missing some crucial commits from master such as ad6684596ce4ef1114a764d367bb8aa051c0ec69. Since there's probably nothing API breaking in master and several things that fix other breakages, maybe we should have 2-0-stable track master unless something gets introduced that does represent an API change between master -> 2-0-stable?

Or possibly change the .gemspec

[2013-07-24 22:35] radar commented on #161
@sohara I'm actually working on a new PayPal extension. You may have missed the thread about it on spree-user: https://groups.google.com/forum/#!topic/spree-user/zXSL3Y1GAUw. The current extension is really hard to maintain and so I've started fresh.

Could you please take the time to beta test this new extension? Thanks.

[2013-07-25 16:12] MatthieuBarthel commented on #151
Thank you @radar and team :) I tested in development env (Rails 3.2.13, Spree 2.0.3).

On checkout, when I am at stage 3, I select PayPal and click "save and continue", then I get the following flash alert :

Everything looks correct in my checkout, I have an address and a delivery method. I tried as guest and registered user, same result. Also I tried with another method (Spree::PaymentMethod::Ch

[2013-07-25 21:16] radar commented on #151
Matthieu: click the PayPal button itself. I need to devise a way of disabling the save and continue button still.

On Fri, Jul 26, 2013 at 2:12 AM, Matthieu Barthel
notifications@github.com wrote:

[2013-07-25 21:24] MatthieuBarthel commented on #151
I just tried, I get the following error :
`NameError (uninitialized constant Spree::Gateway::PayPal::SDK):
.../better_spree_paypal_express-67513f9e1704/app/models/spree/gateway/pay_pal_express.rb:16:in `provider'
.../gems/better_spree_paypal_express-67513f9e1704/app/controllers/spree/paypal_controller.rb:87:in `provider'
.../gems/better_spree_paypal_express-67513f9e1704/app/controllers/spree/paypa

[2013-07-25 21:31] radar commented on #151
Please see radar/better_spree_paypal_express#7

On Fri, Jul 26, 2013 at 7:24 AM, Matthieu Barthel
notifications@github.com wrote:

[2013-08-07 14:57] DavideMiozzi commented on #158
Hi,
I'm facing the same problem @ckw2013 is having. What's different in my case is that I removed the delivery step in the checkout flow, as we are selling digital goods.
I can't see why I should switch to better_spree_paypal_express if it can be used only with Paypal's sandbox and in development. My client wouldn't be very happy of getting just fake money.
I could have a look at the original exte

[2013-08-07 22:30] radar commented on #158
@DavideMiozzi: You're missing the whole point of the better_spree_paypal_express repo. You said this:

The whole point to the better_spree_paypal_express extension is to provide... a better spree paypal express extension. The way we're going about this is that we've got a complete rewrite of the extension underway in that repository. We need people to "kick the tyres" on it and make sure that it's

[2013-08-08 07:48] DavideMiozzi commented on #158
I got your point @radar, I'm a big fan of re-writing from scratch things that just don't work, the same way my boss is a big fan of getting things up and running by the next 15 minutes. That's why I was more prone in patching the old gem just to have something working quickly. But judging from how you despise it, I guess I had better find a different solution, waiting for the better_... to be read

[2013-08-09 05:27] radar commented on #158
I understand where your boss is coming from. He needs to understand though that its not as easy sometimes as just chucking in some code and hoping it works. Attempting to upgrade the current extension to be compatible with Spree 2.0 AND have it work "correctly" would be a mammoth effort.

Please beta test the new extension and let me know if you find any problems with it.

On Thu, Aug 8, 2013 at 5

[2013-08-29 13:28] matthewashby commented on #158
Hi Radar, Is there any update on this?

We have just spent a fortnight configuring a new spree shop for a customer, only to find that Paypal Express payment appears broken. This is quite frustrating as the site still has it listed as a selling point (http://guides.spreecommerce.com/developer/payments.html).

[2013-08-29 13:35] msevestre commented on #158
@Matt: Have you tried the new (better) paypal extension?
https://github.com/radar/better_spree_paypal_express

On Thu, Aug 29, 2013 at 3:28 PM, matthewashby notifications@github.comwrote:

[2013-08-29 13:54] matthewashby commented on #158
No as it says it is not ready for production. If we are told that it is basically good-to-go then great, but if it is several months away then my client cannot wait.

[2013-08-29 13:55] msevestre commented on #158
Maybe you could give it a test drive and see if it works in production?

On Thu, Aug 29, 2013 at 3:54 PM, matthewashby notifications@github.comwrote:

[2013-08-29 13:57] GeekOnCoffee commented on #158
Last I had heard, the only reason the "not ready for production" warning is in place, is because nobody has used it in production enough to validate that it works. I'd take a look at the open issues, make sure there's nothing that is a show-stopper, and then give it a try.

[2013-08-29 13:58] matthewashby commented on #158
Can it be used in production? Is anyone else running it?

[2013-08-29 14:12] peterberkenbosch commented on #158
I will be running a master version on Spree master real soon. Have it
setup already, still working on content..

Peter.

[2013-08-29 15:03] matthewashby commented on #158
We would consider running it live if:

1) We can get another payment method working to fall back on
2) We are not going to be left on our own if we need support

[2013-08-30 00:44] jmoon90 opened #164 "bundle exec rails g spree_paypal_express:install"
Hi

I followed the instruction for the spree paypal express gem. However when I bundle exec rails ... I get the following error. Could you help me solve this problem?

/Users/sungmoon/.rvm/gems/ruby-2.0.0-p247/gems/activemodel-4.0.0/lib/active_model/deprecated_mass_assignment_security.rb:14:in `attr_accessible':`attr_accessible`is extracted out of Rails into a gem. Please use new recommended prote

[2013-08-30 01:21] radar commented on #164
It looks like you're trying to use Rails 4 with this extension. Rails 4 is currently not supported by this extension.

---

I would recommend checking out my [better_spree_paypal_express](https://github.com/radar/better_spree_paypal_express) extension.

[2013-08-30 01:21] #164 closed, assigned to nobody

[2013-08-30 01:23] radar commented on #158
@matthewashby There is no reason that I can see why it would not work in production. It has been tested on PayPal's own sandbox and the tests are passing. Please do try it out in production next week. If you need any help with it, please contact me directly on irc.freenode.net #spree, or by email: ryan@spreecommerce.com.

[2013-09-18 02:25] RohanM commented on #14
I encountered this issue, again with Australian state names. I have a fix on a fork in this commit:

https://github.com/eaterprises/spree_paypal_express/commit/d2f38e5068c4b6979c2af7f64caca9e1df50de89

[2013-09-19 04:24] radar commented on #14
@RohanM: Just a note: we have a new paypal express extension at https://github.com/radar/better_spree_paypal_express. I would be super keen if your team could evaluate that and see if it meets your needs. Would you be able to do that?

[2013-09-19 16:20] fresh2nd commented on #156
I have the same issue, this should be updated to use the new rails4 way to manage this on controllers and not with rpotected_attributes

[2013-09-19 17:04] msevestre commented on #156
spree_paypal_express gem will in a forseable future not be maintain anymore.
I would strongly advise you to try the
better_spree_paypalhttps://github.com/radar/better_spree_paypal_expressextension

Hope that helps

On Thu, Sep 19, 2013 at 6:21 PM, fresh2nd notifications@github.com wrote:

[2013-09-19 23:43] radar commented on #156
Yes, as @msevestre: Please do not use this extension. Use my extension instead.

[2013-09-19 23:43] #156 closed, assigned to nobody

[2013-10-05 05:01] eevee commented on #156
It would be pretty helpful if this advice appeared, say, in the README or repo description, rather than only in a closed ticket.

[2013-10-21 09:35] danielflopes opened #165 "Is this extension compatible with Google Ecommerce Analytics?"
Spree has Google Ecommerce Analytics already implemented - it's only necessary to give your Google Analytics ID in the Admin panel.

Even though the page visits tracking is working ok, we aren't receiving any ecommerce info on the Google Analytics dashboard after purchasing items with a paypal sandbox account.

Can this be someway related to the fact of we are using Paypal and Spree Paypal Express

[2013-10-22 01:32] radar commented on #165
@danielflopes I would expect this to work too. Could you try it out with my extension? https://github.com/radar/better_spree_paypal_express. It's a more modern version of this extension and has code that's easier to understand.

[2013-11-12 14:57] DriesS opened #166 "Add options to paypal checkout"
As paypal has different landing pages, I want to force the landing page to the one that fits the best for my shop. To become this I have to add some options regarding to this topic ( http://stackoverflow.com/questions/18294016/paypal-different-pages-visa-debit-payment-not-create-account )

In your SetExpressCheckout request you just need to set SOLUTION=Sole and LANDINGPAGE=Billing.

How can I set

[2013-11-13 01:44] radar commented on #166
Hi @DriesS.

This extension is not really maintained all that much any more.

Could you please try out my [better_spree_paypal_express](https://github.com/radar/better_spree_paypal_express) extension and let me know how that goes?

Thanks!

[2013-11-13 02:35] radar commented on #166
Just a note that my extension did not support that landing page option, but now does. Instructions on how to set them are now in the README for that extension.

[2013-12-04 18:11] code-bunny opened #167 "Capturing payment through spree admin fails (works on paypal)"
Using the 'capture' button in spree admin, error displayed:

ArgumentError in Spree::Admin::PaymentsController#fire

wrong number of arguments (3 for 1)

However, the payment can be accepted through the paypal interface

Running on site using
  remote: git://github.com/spree/spree.git
  revision: af20e3eeb00dab490e8ff6d2ce64ee5e74575705
  branch: 2-1-stable

  remote: git://github.com/radar/better

[2013-12-06 03:40] radar commented on #167
Hi @Cabbit, I think you might've meant to file this over on radar/better_spree_paypal_express instead.

Could you please do that and include some steps to reproduce this problem?

[2013-12-06 03:41] #167 closed, assigned to nobody

[2013-12-13 20:43] christoph-buente opened #169 "Shipping Address overridden"
When a customer defines different billing and shipping addresses and chooses to pay with paypal express it seems, that the first and last name of the shipping address are overridden with the name from the billing address. We had some confusion with this, cause parcels returned to us cause the billing person could not been found at the shipping address.

Can this issue be reproduced somehow? I have

[2013-12-13 21:50] radar commented on #169
Could you please try out my extension radar/better_spree_paypal_express? This extension is no longer maintained

On Sat, Dec 14, 2013 at 7:43 AM, Christoph Bünte notifications@github.com
wrote:

[2013-12-13 21:53] christoph-buente commented on #169
I'm still on 1.3.3, so i guess it's not gonna work.

[2013-12-16 03:39] radar commented on #169
@christoph-buente If you upgrade to 1.3.4 it will work. I've just created a 1-3-stable branch for it today.

[2013-12-16 03:41] #169 closed, assigned to nobody

[2013-12-16 11:04] christoph-buente commented on #169
Thx a bunch. I'm gonna upgrade to 1.3.4 and check it out.

[2014-03-03 16:24] christoph-buente commented on #169
I upgraded our shop to 1-3-4 with the better_spree_paypal_express and it works like a charm. Thx a billion.

[2014-03-03 16:36] radar commented on #169
@christoph-buente Great to hear :)

[2014-08-04 20:56] noff commented on #39
Error still appears on Spree 2.3.2beta.
Set PayPal credentials, form order, checkout, click "Pay with PayPal" and get "PayPal failed. Security header is not valid".
Reproduced on clean Spree branch-2.3 installation (Rails 4.1.2, sqlite3)

[2014-12-25 23:39] poguez commented on #39
@noff could you get it work?

[2016-06-12 12:42] krtschmr commented on #119
+1

[2017-07-25 07:10] amitpatelx commented on #39
I am also getting the issue with 2.3-stable and Rails 4.1.15. It works fine on live but issue with sandbox on local environment

[2018-04-18 05:27] #159 closed, assigned to nobody

[2019-10-02 23:45] alantellecom opened #171 "I cant't run my spree project in production environment"
I'm searching one solution for my question on web, but probably no one had the same problem.

Before deploy my spree project on cloud, I'm trying to run it in my local host like RAILS_ENV=prodution, but I always receive the same error:

expected file /usr/local/bundle/bundler/gems/better_spree_paypal_express-181cce8bcd14/app/controllers/spree/admin/payments_controller_decorator.rb to define consta